<template>
  <div id="app">
    <bh-header></bh-header>
    <router-view></router-view>
    <bh-footer></bh-footer>
  </div>
</template>

<script>
import BhHeader from '@/components/TheHeader'
import BhFooter from '@/components/TheFooter'
import { mapActions } from 'vuex';


export default {
  name: 'app',
  components: {
    BhHeader,
    BhFooter
  },
  methods: {
    ...mapActions(['GET_CART'])
  },
  created() {
    let uid = this.$store.getters.currentUser.id
    this.GET_CART({uid, currentCart: this.$store.getters.cart})
  }
}
</script>

<style>
body {
  /* background-color: #edf4f9; */
  background-color: #f6f7eb;
}
.container {
  margin-top: 30px;
  padding: 30px;
}
</style>


