<template>
  <b-modal :id="'ship'+order.id" size="lg" hide-footer lazy centered>
    <div slot="modal-title">
      #{{order.id}} Shipment
    </div>
    <b-container>
      {{cart}}
      <b-container>
        <table class="table mb-none">
          <thead>
            <th>Product</th>
            <th>Tracking</th>
          </thead>
          <tbody>
            <tr v-for="item in cart" :key="item.id">
              <td>{{item.product.name}}</td>
              <td>
                 <b-row class="my-1">
                  <b-col sm="5">
                    <b-form-input type="text"
                              placeholder="Tracking ID"
                              v-model="track_id"></b-form-input>
                    </b-col>
                  <b-col sm="2">
                   <b-btn variant="primary" @click="regisItem(item.id)">Add</b-btn>
                  </b-col>
                </b-row>
              </td>
            </tr>
          </tbody>
        </table>
      </b-container>
    </b-container>
    
  </b-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { REGIS_ITEM } from '../store/modules/order/mutation-types';

export default {
  name: 'order-modal',
  props: ['order', 'cart', 'confirmInvoice'],
  computed: {

  },
  mounted() {
  },
  data () {
    return {
      track_id: ''
    }
  },
  methods: {
    regisItem(orderProductId) {
      console.log(orderProductId)
      this.$store.dispatch(REGIS_ITEM, {
        tracking: this.track_id,
        orderProductId: orderProductId
      })
      .then(() => {
        this.track_id = ''
        console.log('success')
      })
    }
  }
}
</script>