<template>
  <b-container fluid>
    <b-btn variant="success" v-b-modal.addProduct>Add Product</b-btn>
    <add-product></add-product>
    <!-- <input type="text" v-model="search" placeholder="Search username.."> -->
    <b-row class="my-1">
      <b-col sm="2"><label for="input">Search Product:</label></b-col>
      <b-col sm="5">
        <b-form-input type="text"
                  placeholder="Search product..."
                  v-model="search"></b-form-input>
      </b-col>
    </b-row>
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Author</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in productFilter" :key="product.id">
          <td>
            <router-link 
              tag="a"
              :to="{ name: 'product', params: {id: product.id} }">{{product.name}}</router-link>
          </td>
          <td>{{product.price}}</td>
          <td>1</td>
          <td>Admin</td>
          <td>
            <b-btn variant="success" v-b-modal="productModal(product.id)" @click="action(product.id)">edit</b-btn>
            <!-- <router-link 
              :to="{ name: 'edit-product', params: {id: product.id} }"><button class="btn btn-success">edit</button></router-link> -->
            <button class="btn btn-danger" @click="deleteProduct(product.id, product)">remove</button>
            <edit-product :product="product"></edit-product>
          </td>
        </tr>
      </tbody>
    </table>
    
  </b-container>
</template>

<script>
import AddProduct from '@/components/BackendProductInsert'
import EditProduct from '@/components/BackendProductEditModal'
import { FETCH_PRODUCT_LIST, DELETE_PRODUCT, FETCH_PRODUCT } from '../store/modules/product/mutation-types.js';
import { mapGetters } from 'vuex';

export default {
  components: {
    AddProduct,
    EditProduct
  },
  data() {
    return {
      search: '',
    };
  },
  computed: {
    ...mapGetters({
      products: 'products',
      product: 'product'
    }),
    productFilter() {
      return this.products.filter(product => {
        return product.name.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  mounted() {
    this.fetchProduct()
  },
  methods: {
    action(id) {
      this.fetch(id)
    },
    productModal(i) {
      return 'product' + i
    },
    fetchProduct: function() {
      this.$store.dispatch(FETCH_PRODUCT_LIST)
    },
    fetch(id) {
      this.$store.dispatch(FETCH_PRODUCT, id)
    },
    deleteProduct: function(id, product) {
      this.$store.dispatch(DELETE_PRODUCT, id)
        .then((res) => {
          let index = this.products.indexOf(product)
          this.products.splice(index, 1)
        })
    }
  }
};
</script>
