<template>
  <b-container fluid>
    <table class="table mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Customer</th>
          <th>Create At</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders" :key="order.id">
          {{order}}
          <td>{{order.id}}</td>
          <td>{{userOrder(order.userId)}}</td>
          <td>{{order.createdAt}}</td>
          <td>
            <b-btn variant="danger" v-if="order.refOrderStatusId === 2">unpaid</b-btn>
            <b-btn variant="success" v-else-if="order.refOrderStatusId === 3">paid</b-btn>
          </td>
          <td>
            <b-btn variant="success" v-b-modal="modalId('image',order.id)" @click="action(order.id)">View</b-btn>
            <b-btn  v-if="order.refOrderStatusId === 3"
                    v-b-modal="modalId('ship',order.id)" 
                    @click="action(order.id)">Shipment</b-btn>
          </td>

          <image-modal :order="order" :cart="cart_order" :confirmInvoice="confirm"></image-modal>
          <ship-modal :order="order" :cart="cart_order" :confirmInvoice="confirm"></ship-modal>
        </tr>
      </tbody>
    </table>
  </b-container>
</template>

<script>
import ImageModal from '@/components/BackendOrderImageModal'
import ShipModal from '@/components/BackendOrderShipModal'
import { GET_ORDER_CART } from '../store/modules/cart/mutation-types';
import { mapGetters } from 'vuex';
import { GET_COMFIRM } from '../store/modules/order/mutation-types';

export default {
  components: {
    ImageModal,
    ShipModal
  },
  computed: {
    ...mapGetters({
      orders: 'orders',
      users: 'userList',
      cart_order: 'cart_order',
      confirm: 'confirm'
    }),
    
  },
  methods: {
    userOrder(id) {
      const user = this.users.find( function(el) {
        return el.id === id
      })
      return user.username
    },
    modalId(txt,i) {
      return txt + i
    },
    action(id) {
      this.getItem(id)
      this.getConfirm(id)
    },
    getItem(id) {
      this.$store.dispatch(GET_ORDER_CART, id)
    },
    getConfirm(id) {
      this.$store.dispatch(GET_COMFIRM, id)
    },
  }
}
</script>