<template>
  <b-modal :id="'image'+order.id" size="lg" hide-footer lazy centered>
    <div slot="modal-title">
      #{{order.id}}
    </div>
    <b-container>
      <b-container>
        <table class="table mb-none">
          <thead>
            <th>Product</th>
            <th>Quantity</th>
            <th>Sub Total</th>
          </thead>
          <tbody>
            <tr v-for="item in cart" :key="item.id">
              <td>{{item.product.name}}</td>
              <td>{{item.amount}}</td>
              <td>{{subtotal(item)}}</td>
            </tr>
          </tbody>
        </table>
        Total: {{total}}
      </b-container>
      
      <b-btn v-b-toggle="collapseId(order.id)" class="m-1">image</b-btn>
      <b-collapse :id="'image'+order.id">
        <b-card>
          <b-img :src="confirmInvoice.photo_link" center fluid-grow></b-img>
        </b-card>
        <b-btn v-if="confirmInvoice.refConfirmationStatusId === 1" @click="confirmOrder(confirmInvoice.id)">Confirm</b-btn>
      </b-collapse>
      
      
    </b-container>
    
  </b-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { CONFIRM } from '../store/modules/order/mutation-types.js'

export default {
  name: 'order-modal',
  props: ['order', 'cart', 'confirmInvoice'],
  computed: {
    /* ...mapGetters({
      cart_order: 'cart_order'
    }) */
    total() {
      return this.cart.reduce((total, item) => {
        total += item.amount * item.product.price
        return total
      }, 0)
    }
  },
  mounted() {
  },
  methods: {
    collapseId(i) {
      return 'image' + i
    },
    subtotal(item) {
      return item.amount * item.product.price
    },
    confirmOrder(id) {
      this.$store.dispatch(CONFIRM, {id: id})
    }
  }
}
</script>