<template>
  <tr>
    <td>
      {{ item.name }}
    </td>
    <td>
      {{ item.price }}
    </td>
    <td>
      <b-button size="sm" @click.prevent="action('min', item)">
        <custom-icon name="minus" base-class="custom-icon"></custom-icon>
      </b-button>
      {{item.amount}}
      <b-button size="sm" @click.prevent="action('max', item)">
        <custom-icon name="plus" base-class="custom-icon"></custom-icon>
      </b-button>
    </td>
    <td>
      {{ subtotal }}
    </td>
    <td>
      <b-button size="sm" variant="danger" @click.prevent="action('clear', item)">
        <custom-icon name="x" base-class="custom-icon"></custom-icon>
      </b-button>
    </td>
  </tr>
</template>

<script>
import customIcon from 'vue-icon/lib/vue-feather.esm'
import { mapGetters } from 'vuex';
import { UPDATE_AMOUNT, DELETE_ITEM } from '../store/modules/cart/mutation-types.js'

export default {
  name: 'item-cart',
  props: ['item'],
  components: {
    customIcon,
  },
  computed: {
    ...mapGetters({
      cart: 'cart'
    }),
    subtotal() {
      return this.item.amount * this.item.price
    }
  },
  methods: {
    action(event, item) {
      let hasUpdated = false
      switch (event) {
        case 'max':
          this.item.amount++
          hasUpdated = true
          break
        case 'min':
          this.item.amount--
          hasUpdated = true
          break
        case 'clear':
          let index = this.cart.indexOf(this.item)
          this.cart.splice(index, 1)
          this.$store.dispatch(DELETE_ITEM, {id: this.item.id})
          break
      } 
      if (hasUpdated) {
        let update_item = [{id: this.item.id, amount: this.item.amount}]
        this.$store.dispatch(UPDATE_AMOUNT, update_item)
      }
    }
  }

}
</script>

<style>
  .v-icon,
  .custom-icon {
    width: 14px;
  }
  .minus {
    background: #f4f4f4;
    border: 1px solid #C8BFC6;
    border-radius: 2px;
    box-shadow: none;
    color: #5E5E5E;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 13px;
    margin: 0;
    overflow: visible;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    vertical-align: text-top;
    width: 35px;
  }
  .plus {
    background: #f4f4f4;
    border: 1px solid #C8BFC6;
    border-radius: 2px;
    box-shadow: none;
    color: #5E5E5E;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 13px;
    margin: 0;
    overflow: visible;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    vertical-align: text-top;
    width: 35px;
    right: 0;
    top: 0;
  }
</style>