<template>
  <tr>
    <td><b-img :src="product.main_photo" width="50" height="50"></b-img></td>
    <td>{{product.name}}</td>
    <td>{{shipment.tracking_id}}</td>
    <td>
      <b-btn variant="danger" v-if="shipment.refShipmentStatusId === 1">{{shipment.refShipmentStatus.description}}</b-btn>
      <b-btn variant="success" v-if="shipment.refShipmentStatusId === 2">{{shipment.refShipmentStatus.description}}</b-btn>
    </td>
    <td>
      <b-btn variant="success" v-if="shipment.refShipmentStatusId === 1" @click="confirmShipment">Confirm</b-btn>
    </td>
  </tr>
</template>

<script>
import { mapGetters } from 'vuex';
import { CONFIRM_SHIPMENT } from '../store/modules/order/mutation-types.js';
import { FETCH_PRODUCT } from '../store/modules/product/mutation-types.js'

export default {
  name: 'shipping-item',
  props: ['shipment'],
  computed: {
    ...mapGetters({
      product: 'product'
    })
  },
  mounted () {
    this.getProduct()
  },
  methods: {
    getProduct() {
      this.$store.dispatch(FETCH_PRODUCT, this.shipment.orderProducts[0].productId)
    },
    confirmShipment() {
      this.$store.dispatch(CONFIRM_SHIPMENT, {id: this.shipment.id})
        .then(() => {
          console.log('success')
        })
    }
  }
}
</script>