<template>
  <b-container fluid>
    <b-form-input v-model="search"
                  type="text"></b-form-input>
    <b-btn v-b-modal.searchAdvance >Advance</b-btn>
    <b-modal id="searchAdvance" title="Advance Search" hide-footer>
      <b-form-input v-model="search"
                  type="text"
                  placeholder="Search product..."></b-form-input>
      <b-form-input v-model="filter.min_price"
                    type="text"
                    placeholder="Enter min price"></b-form-input>
      <b-form-input v-model="filter.max_price"
                    type="text"
                    placeholder="Enter max price"></b-form-input>

      <b-btn>Search</b-btn>
    </b-modal>
    {{searchFilter}}
    <b-card-group deck v-for="row in formattedProducts" :key="row.id" style="width: 1260px; height: 400px; margin-top: 20px;">
      <b-card no-body v-for="product in row" :key="product.id">
        <router-link  :to="{ name: 'product', params: { id: product.id } }">
          <product-preview :product="product"></product-preview>
        </router-link>
        
      </b-card>
    </b-card-group>
  </b-container>
  
</template>

<script>
import { mapGetters } from 'vuex';
import { FETCH_PRODUCT_LIST } from '../store/modules/product/mutation-types.js'

import ProductPreview from '@/components/ProductPreview'

export default {
  components: {
    ProductPreview,
  },
  data: function () {
    return {
      search: '',
      filter: {
        min_price: '',
        max_price: '',
        min_player: '',
        max_player: '',
        tag: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      products: 'products'
    }),
    formattedProducts() {
      return this.products.reduce((c, n, i) => {
        if (i % 3 === 0) c.push([]);
        c[c.length - 1].push(n);
        return c;
      }, []);
    },
    searchFilter() {
      return this.products.filter(product => {
        return    (!this.min_price && product.price >= this.min_price)
              ||  (!this.max_price && product.price <= this.max_price)
              ||  (!this.min_price && !this.max_price && product.price >= this.min_price && product.price <= this.max_price)
      })
    }
  },
  mounted() {
    this.getProductList()
  },
  methods: {
    getProductList() {
      this.$store.dispatch(FETCH_PRODUCT_LIST)
    },
  }
}
</script>

<style scoped>
.card-deck .card {
    max-width: calc(100% - 30px);
}
</style>
