<template>
  <b-modal :id="'image'+order.id" hide-footer lazy centered>
    <div slot="modal-title">
      #{{order.id}} Upload invoice
    </div>
    <b-container>
      <!-- <b-img src="https://picsum.photos/1024/400/?image=41" center fluid-grow></b-img> -->
      <!-- <b-form-file @change="onFileSelected" placeholder="Choose a file..." name="photo"></b-form-file> -->
      <input type="file" @change="onFileSelected" name="photo">
      <div class="mt-3">Selected file: {{file && file.name}}</div>
      <b-btn @click="addConfirmation">Upload</b-btn>
    </b-container>
    
  </b-modal>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex';
import { ADD_COMFIRM } from '../store/modules/order/mutation-types';

export default {
  name: 'order-modal',
  props: ['order', 'invoice'],
  computed: {
  },
  mounted () {
    
  },
  data () {
    return {
      file: null,
    };
  },
  methods: {
    onFileSelected(event) {
      this.file = event.target.files[0]
    },
    addConfirmation() {
      const fd = new FormData()
      fd.append('invoiceId', this.invoice.id)
      fd.append('photo', this.file, this.file.name)
      this.$store.dispatch(ADD_COMFIRM, fd)
    }
  }
}
</script>