<template>
  <b-card-body>
    <img :src="product.main_photo" :alt="product.name" width="350px" height="300px"/>
    <h4>Product</h4>
  </b-card-body>
</template>

<script>
  export default {
    props: ['product'],
  }
</script>