<template>
  <nav>
    <b-navbar toggleable="md" type="dark" variant="info">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand :to="{ name: 'home' }">Board Hub</b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>
        <b-navbar-nav v-if="isAuthenticated">
          <b-nav-item :to = "{name: 'cart'}">
            <custom-icon name="shopping-cart" base-class="custom-icon"></custom-icon>
            {{ cart.length }}
          </b-nav-item>
          <b-nav-item-dropdown right>
          <template slot="button-content">
            <em>{{currentUser.username}}</em>
          </template>
          <b-dropdown-item :to="{ name: 'user-profile', params: { username: currentUser.username} }">Profile</b-dropdown-item>
          <b-dropdown-item :to="{ name: 'user-order' }">Order</b-dropdown-item>
          <b-dropdown-item :to="{ name: 'user-shipping' }">Shipping</b-dropdown-item>
          <b-dropdown-item @click.prevent="logout">Signout</b-dropdown-item>
        </b-nav-item-dropdown>
        </b-navbar-nav>
        
        <b-navbar-nav v-else>
          <b-nav-item :to="{ name: 'frontend-login' }">
            Login
          </b-nav-item>
          <b-nav-item :to="{ name: 'frontend-register' }">
            Register
          </b-nav-item>
        </b-navbar-nav>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </nav>
</template>

<script>
import customIcon from 'vue-icon/lib/vue-feather.esm'
import { mapGetters } from 'vuex';
import { LOGOUT } from '../store/modules/auth/mutation-types.js'
import { CLEAR_CART } from '../store/modules/cart/mutation-types.js'

export default {
  name: 'BhHeader',
  components: {
    customIcon
  },
  data () {
    return {
      baseClass: 'v-icon'
    }
  },
  computed: {
    ...mapGetters([
      'cart',
      'currentUser',
      'isAuthenticated',
      'isAdmin',
      'isProfileLoaded'
    ])
  },
  methods: {
    logout: function() {
      this.$store.dispatch(LOGOUT)
        .then(() => {
          this.$store.dispatch(CLEAR_CART)
        })
        .then(() => this.$router.push('/'))
    }
  }
}
</script>

<style>
  .v-icon,
  .custom-icon {
    width: 24px;
  }
</style>