<template>
  <div id="app">
    <bh-header></bh-header>
    <router-view></router-view>
  </div>
</template>

<script>
import BhHeader from '@/components/TheHeader'
import { mapActions } from 'vuex';


export default {
  name: 'app',
  components: {
    BhHeader,
  },
  methods: {
    ...mapActions(['GET_CART'])
  },
  created() {
    let uid = this.$store.getters.currentUser.id
    this.GET_CART({uid, currentCart: this.$store.getters.cart})
  }
}
</script>

