<template>
  <div class="container">
    <section class="panel">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-11">
              <router-view></router-view>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-1">
              <aside class="sidebar">
                <ul class="nav nav-list primary push-bottom">
                  <li>
                    <router-link 
                      tag="a"
                      :to="{name: 'admin-user-list'}">User List</router-link>
                  </li>
                  <li>
                    <router-link 
                      tag="a"
                      :to="{name: 'admin-product-list'}">Product List</router-link>
                  </li>
                  <li>
                    <router-link 
                      tag="a"
                      :to="{name: 'admin-order-list'}">Order List</router-link>
                  </li>
                  <li><a href="#">Add catagory</a></li>
                </ul>
                <hr />
              </aside>
            </div>
          </div>
        </div>
    </section>
  </div>
</template>

<script>
import { FETCH_USER_LIST } from '../store/modules/user/mutation-type';
import { FETCH_ORDER_LIST } from '../store/modules/order/mutation-types';

export default {
  mounted() {
    this.getList()
    this.getOrderList()
  },
  methods: {
    getList() {
      this.$store.dispatch(FETCH_USER_LIST)
    },
    getOrderList() {
      this.$store.dispatch(FETCH_ORDER_LIST)
    }
  }
}
</script>
