<template>
  <div class="mb-md">
    <router-link 
      :to="{name: 'add-product'}"><button id="addToTable" class="btn btn-primary">Add product</button></router-link>
    
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Author</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>
            <router-link 
              tag="a"
              :to="{ name: 'product', params: {id: product.id} }">{{product.name}}</router-link>
          </td>
          <td>{{product.price}}</td>
          <td>1</td>
          <td>Admin</td>
          <td>
            <router-link 
              :to="{ name: 'edit-product', params: {id: product.id} }"><button class="btn btn-success">edit</button></router-link>
            <button class="btn btn-danger" @click="deleteProduct(product.id, product)">remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { FETCH_PRODUCT_LIST, DELETE_PRODUCT } from '../store/modules/product/mutation-types.js';
import { mapGetters } from 'vuex';

export default {

  computed: {
    ...mapGetters({
      products: 'products'
    })
  },
  mounted() {
    this.fetchProduct()
  },
  methods: {
    fetchProduct: function() {
      this.$store.dispatch(FETCH_PRODUCT_LIST)
    },
    deleteProduct: function(id, product) {
      this.$store.dispatch(DELETE_PRODUCT, id)
        .then((res) => {
          let index = this.products.indexOf(product)
          this.products.splice(index, 1)
        })
    }
  }
};
</script>
