<template>
  <div class="mb-md">
    <button class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
    <input type="text" v-model="search" placeholder="Search username..">
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>E-mail</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in userFilter" :key="user.id">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button class="btn btn-danger" @click="deleteUser(user.id, user)">remove</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { DELETE_USER } from '../store/modules/user/mutation-type';
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      search: '',
    };
  },
  computed: {
    ...mapGetters({
      users: 'userList'
    }),
    userFilter() {
      return this.users.filter(user => {
        return user.username.toLowerCase().includes(this.search.toLowerCase())
      })
    }
  },
  methods: {
    deleteUser: function(id, user) {
      this.$store.dispatch(DELETE_USER, id)
        .then((res) => {
          let index = this.users.indexOf(user)
          this.users.splice(index, 1)
        })
    }
  }
};
</script>
