<template>
  <div class="mb-md">
    {{orders}}
    <button class="btn btn-primary">Add <i class="fa fa-plus"></i></button>
    <!-- <input type="text" v-model="search" placeholder="Search username.."> -->
    <table class="table table-bordered table-striped mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Create At</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders" :key="order.id">
          <td>{{order.id}}</td>
          <td>{{userOrder(order.userId)}}</td>
          <td>{{order.createdAt}}</td>
          <td>{{order.refOrderStatusId}}</td>

        </tr>
        <!-- <tr v-for="user in userFilter" :key="user.id">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>
            <button class="btn btn-danger" @click="deleteUser(user.id, user)">remove</button>
          </td>
        </tr> -->
      </tbody>
    </table>
  </div>
</template>

<script>

import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters({
      orders: 'orders',
      users: 'userList'
    }),
    
  },
  methods: {
    userOrder(id) {
      const user = this.users.find( function(el) {
        return el.id === id
      })
      return user.username
    }
  }
}
</script>