<template>
  <div class="container">
    <div class="panel-body">
      <div class="form-horizontal form-bordered">
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputDefault">Name</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputDefault" v-model="product.name">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputDefault">Type</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputDefault" v-model="product.type">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputDefault">Player</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputDefault" v-model="product.number_player">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputDefault">Description</label>
          <div class="col-md-6">
            <textarea type="text" class="form-control" id="inputDefault" cols=" 30" rows="5" v-model="product.description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputDefault">Duration</label>
          <div class="col-md-6">
            <input type="text" class="form-control" id="inputDefault" v-model="product.duration">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label" for="inputDefault">Price</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="inputDefault" v-model="product.price">
          </div>
          <label class="col-md-2 control-label" for="inputDefault">Quantity</label>
          <div class="col-md-2">
            <input type="text" class="form-control" id="inputDefault" v-model="product.quantity">
          </div>
        </div>
        <div class="form-group">
          <form enctype="multipart/form-data">
            <label class="col-md-3 control-label" for="inputDefault">Picture Upload</label>
            <div class="col-md-6">
              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="input-append">
                  <div class="uneditable-input">
                    <i class="fa fa-file fileupload-exists"></i>
                    <span class="fileupload-preview"></span>
                  </div>
                  <span class="btn btn-default btn-file">
                    <p v-if="isInitial">Drag your file(s) here to begin<br> or click to browse</p>
                    <p v-if="isSaving">Uploading {{ fileCount }} files...</p>
                    <input type="file" multiple :name="uploadFieldName" 
                      @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                      accept="image/*" class="input-file">
                  </span>
                </div>
              </div>
            </div>
          </form>
          <div v-if="isSuccess">
            <p>
              <a href="javascript:void(0)" @click="reset()">Upload again</a>
            </p>
            <ul class="list-unstyled">
              <li v-for="item in uploadedFiles" :key="item.index">
                <img :src="item" class="img-responsive img-thumbnail" :alt="item.originalName">
              </li>
            </ul>
          </div>
          <div v-if="isFailed">
            <h2>Uploaded failed.</h2>
            <p>
              <a href="javascript:void(0)" @click="reset()">Try again</a>
            </p>
            <pre>{{ uploadError }}</pre>
          </div>
        </div>
        <div class="col-md-12">
          <label class="col-md-3 control-label"></label>
          <button type="submit" class="btn btn-success" @click="onPublish(product.id, product)">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductService from '@/services/product';
import { PUBLISH_PRODUCT } from '../store/modules/product/mutation-types.js'
import { mapGetters } from 'vuex';
import FileUpload from '@/services/upload'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
  props: ['id'],
  data() {
    return {
      base_url: 'http://localhost:3000/',
      main_photo: null,
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'main_photo',
      product: {
        name: '',
        type: '',
        number_player: '',
        duration: '',
        price: '',
        quantity: '',
        main_photo: ''
      }
    };
  },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
  },
  mounted () {
    this.reset()
  },
  methods: {
    onPublish(id, product) {
      product.main_photo = this.main_photo 
      this.$store.dispatch(PUBLISH_PRODUCT, product)
        .then((res) => {
          this.$router.push({ name: 'admin-product-list' })
        })
    },
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    save(formData) {
      // upload data to the server
      this.currentStatus = STATUS_SAVING;
      FileUpload.upload(this.id, formData)
        .then(({data}) => {
          console.log(data)
          this.main_photo = data.main_photo
          this.uploadedFiles = [].concat(data.main_photo);
          this.currentStatus = STATUS_SUCCESS;
        })
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      const formData = new FormData();
      if (!fileList.length) return;
      // append the files to FormData
      
      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });
      // save it
      this.save(formData);
    }
  }
};
</script>



