<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <div>
      <div class="row">
        <div class="col-md-12">
          <div class="row featured-boxes cart">
            <div class="col-md-12">
              <div class="featured-box featured-box-secundary default" style="margin-top:20px;">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-name">Product</th>
                      <th class="product-price">Price</th>
                      <th class="product-quantity">Quantity</th>
                      <th class="product-subtotal">Sub Total</th>
                      <th> </th>
                    </tr>
                  </thead>
                  <tbody>
                    <cart-item v-for="item in cart" :key="item.id" :item="item"></cart-item>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row featured-boxes cart">
        <div class="col-md-12">
          <div class="featured-box featured-box-secundary default">
            <div class="box-content">
              <h4>Cart Totals</h4>
              <table cellspacing="0" class="cart-totals">
                <tbody>
                  <tr class="cart-subtotal">
                    <th>
                      <strong>Cart Subtotal</strong>
                    </th>
                    <td>
                      <strong><span class="amount">${{total}}</span></strong>
                    </td>
                  </tr>
                  <tr class="shipping">
                    <th>
                      Shipping
                    </th>
                    <td>
                      Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
                    </td>
                  </tr>
                  <tr class="total">
                    <th>
                      <strong>Order Total</strong>
                    </th>
                    <td>
                      <strong><span class="amount">${{total}}</span></strong>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row featured-boxes">
        <div class="col-md-12">
          <div class="actions-continue">
            <input type="submit" value="Proceed to Checkout →" name="proceed" class="btn btn-lg btn-primary" @click="checkout">
          </div>
        </div>
      </div>
    </div>
    
  </b-container>
</template>

<script>
import CartItem from "@/components/CartItem";
import { mapGetters } from "vuex";
import { CHECKOUT, GET_CART_ID } from '../store/modules/order/mutation-types';

export default {
  components: {
    CartItem
  },
  data() {
    return {
      Total: 0,
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    };
  },
  mounted() {
    this.getCartId()
  },
  computed: {
    ...mapGetters({
      cart: "cart",
      cart_id: 'cart_id',
      isAuthenticated: 'isAuthenticated',
      user: 'currentUser'
    }),
    total() {
      return this.cart.reduce((total, item) => {
        total += item.amount * item.price
        this.Total = total
        return total
      }, 0)
    }
  },
  methods: {
    checkout() {
			if (this.isAuthenticated) {
				this.$store.dispatch(CHECKOUT, 
					{
						id: this.cart_id,
						price: this.Total
					}
        )
        .then(() => {
          this.$router.go(0)
        })
        .then(() => {
          this.$toastr.success('Checkout success', 'Success', this.toastrOption);
        })
			}
    },
    getCartId() {
      this.$store.dispatch(GET_CART_ID, this.user.id)
    }
  }
  
};
</script>

<style scoped>
.v-icon,
.custom-icon {
  width: 14px;
}
.shop {
    margin-top: -10px;
}
hr.tall {
    margin: 44px 0 44px 0;
}
hr {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
}
hr {
    box-sizing: content-box;
}
.col-md-12 {
    width: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.featured-box {
    background-color: transparent;
    background: linear-gradient(to bottom, white 1%, #f9f9f9 98%) repeat scroll 0 0 transparent;
    box-sizing: border-box;
    border-bottom: 1px solid #DFDFDF;
    border-left: 1px solid #ECECEC;
    border-radius: 8px;
    border-right: 1px solid #ECECEC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
    margin-left: auto;
    margin-right: auto;
    min-height: 100px;
    position: relative;
    z-index: 1;
}
.featured-boxes .featured-box {
    margin-bottom: 30px;
    margin-top: 45px;
}
.featured-boxes .featured-box-cart {
    margin-top: 0;
}
.featured-box .box-content {
    border-radius: 8px;
    border-top: 3px solid #f88624;
    border-top-width: 4px;
    padding: 30px 30px 10px 30px;
}
.featured-box-secundary .box-content {
    border-top-color: #f29c38;
}
.shop table.cart {
    width: 100%;
    margin: 0;
    text-align: left;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.shop table.cart .product-name {
    width: 60%;
}
.shop table.cart th {
    padding: 8px 10px;
}
th {
    text-align: left;
}
.col-md-6 {
    width: 50%;
}
.featured-boxes.cart .featured-box {
    text-align: left;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.featured-box-secundary h4 {
    color: #f86624;
}
.featured-box h4 {
    font-size: 1.3em;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 5px;
    text-transform: uppercase;
}
form label {
    font-weight: normal;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
select {
    outline: none;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}
.shop .cart-totals {
    width: 100%;
}
.shop .cart-totals th, .shop .cart-totals td {
    border-top: 4px solid #f88624;
    padding: 8px 10px;
}
.shop .star-rating span, .shop .cart-totals tr.total .amount {
    color: #f86624;
}
.shop .cart-totals tr.total .amount {
    font-size: 2em;
    display: block;
    padding-top: 10px;
}
.shop .actions-continue {
    float: right;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-primary, .pagination > .active > a, body.dark .pagination > .active > a, .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    border-color: #f29c38 !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f29c38;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}
.form-group {
    margin-bottom: 15px;
}
.container {
    width: 1170px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
* {
    box-sizing: border-box;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
}
input, button, select, textarea {
    font-family: inherit;
}
*:before, *:after {
    box-sizing: border-box;
}
.form-group:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.push-bottom {
    margin-bottom: 35px;
}
.pull-right {
    float: right !important;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 3px solid #f88624;
    border-radius: 8px;
    border-top-width: 4px;
}
</style>