<template>
  <div>
		{{Total}}
		<div role="main" class="main shop">
			<div class="container">
				<hr class="tall">
				<div class="row">
					<div class="col-md-12">

						<div class="row featured-boxes">
							<div class="col-md-12">
								<div class="featured-box featured-box-secundary featured-box-cart">
									<div class="box-content">
										<form>
											<table cellspacing="0" class="shop_table cart">
												<thead>
													<tr>
														<!-- <th class="product-remove">
															&nbsp;
														</th>
														<th class="product-thumbnail">
															&nbsp;
														</th> -->
														<th class="product-name">
															Product
														</th>
														<th class="product-price">
															Price
														</th>
														<th class="product-quantity">
															Quantity
														</th>
														<th class="product-subtotal">
															Total
														</th>
														<th></th>
													</tr>
												</thead>
												<tbody >
													<item-cart v-for="item in cart" :key="item.id" :item="item"></item-cart>
													<!-- <tr class="cart_table_item"	v-for="item in cart" :key="item.id">
														<td class="product-name">
															<router-link 
															  tag="a"
																:to="{ name: 'product', params: { id: item.product.id } }">{{ item.product.name }}</router-link>
														</td>
														<td class="product-price">
															<span class="amount">${{item.product.price}}</span>
														</td>
														<td class="product-quantity">
															<form enctype="multipart/form-data" method="post" class="cart">
																<div class="quantity">
																	<input type="button" class="minus" value="-" @click.prevent="action('min', item)">
																	<input type="text" class="input-text qty text" title="Qty" name="quantity" min="1" step="1" v-model="item.amount">
																	<input type="button" class="plus" value="+" @click.prevent="action('max', item)">
																</div>
															</form>
														</td>
														<td class="product-subtotal">
																<span class="amount">$72</span>
														</td>
														<td class="product-clear">
															<button class="btn btn-danger" @click.prevent="action('clear', item)">&times;</button>
														</td>
													</tr> -->

												</tbody>
											</table>
										</form>
									</div>
								</div>
							</div>
						</div>
						<div class="row featured-boxes cart">
							<div class="col-md-6">
								<div class="featured-box featured-box-secundary default">
									<div class="box-content">
										<h4>Calculate Shipping</h4>
										<form action="" id="" method="post">
											<div class="row">
												<div class="form-group">
													<div class="col-md-12">
														<label>Country</label>
														<select class="form-control">
															<option value="">Select a country</option>
														</select>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group">
													<div class="col-md-6">
														<label>Province</label>
														<input type="text" value="" class="form-control">
													</div>
													<div class="col-md-6">
														<label>Zip Code</label>
														<input type="text" value="" class="form-control">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-md-12">
													<input type="submit" value="Update Totals" class="btn btn-default pull-right push-bottom" data-loading-text="Loading...">
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="featured-box featured-box-secundary default">
									<div class="box-content">
										<h4>Cart Totals</h4>
										<table cellspacing="0" class="cart-totals">
											<tbody>
												<tr class="cart-subtotal">
													<th>
														<strong>Cart Subtotal</strong>
													</th>
													<td>
														<strong><span class="amount">${{total}}</span></strong>
													</td>
												</tr>
												<tr class="shipping">
													<th>
														Shipping
													</th>
													<td>
														Free Shipping<input type="hidden" value="free_shipping" id="shipping_method" name="shipping_method">
													</td>
												</tr>
												<tr class="total">
													<th>
														<strong>Order Total</strong>
													</th>
													<td>
														<strong><span class="amount">${{total}}</span></strong>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="row featured-boxes">
							<div class="col-md-12">
								<div class="actions-continue">
									<input type="submit" value="Proceed to Checkout →" name="proceed" class="btn btn-lg btn-primary" @click="checkout">
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>

		</div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import ItemCart from '../components/ItemCart'
import { CHECKOUT } from '../store/modules/order/mutation-types';

export default {
	components: {
		ItemCart
	},
	data() {
		return {
			Total: 0
		}
	},
  computed: {
    ...mapGetters({
			cart: 'cart',
			cart_id: 'cart_id',
			isAuthenticated: 'isAuthenticated'
		}),
		total() {
			return this.cart.reduce((total, item) => {
				total += item.amount * item.product.price
				this.Total = total
				return total
			}, 0)
		}
	},
  methods: {
		checkout() {
			if (this.isAuthenticated) {
				this.$store.dispatch(CHECKOUT, [
					{
						id: this.cart_id,
						price: this.Total
					}
				])
			}
		}
  }
};
</script>

