<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <b-row>
      <b-col cols="10">
        <router-view></router-view>
      </b-col>
      <b-col>
        <b-list-group>
          <b-list-group-item :to="{name: 'creator-product-list'}">
            Product List
          </b-list-group-item>
          <b-list-group-item :to="{ name: 'creator-order-list' }">
            All Orders
          </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { FETCH_USER_LIST } from '../store/modules/user/mutation-type';
import { FETCH_ORDER_LIST } from '../store/modules/order/mutation-types';

export default {
  mounted() {
    this.getList()
  },
  methods: {
    getList() {
      this.$store.dispatch(FETCH_USER_LIST)
    },
  }
}
</script>