<template>
  <b-container fluid>
    <div class="login-form shadow-sm p-3 mb-5 bg-white rounded">
      <h3 class="text-center">Register</h3>
      <b-form @submit.prevent="onSubmit" @reset.prevent="onReset">
        <b-form-group label="E-mail:">
          <b-form-input type="email"
                        v-model="form.email"
                        placeholder="E-mail">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Username:">
          <b-form-input type="text"
                        v-model="form.username"
                        placeholder="Username">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Password:">
          <b-form-input type="password"
                        v-model="form.password"
                        placeholder="Password">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Confirm password:">
          <b-form-input type="password"
                        v-model="form.confirmPassward"
                        placeholder="confirm password">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
  </b-container>
</template>

<script>
import UserService from '@/services/auth';

export default {
  data() {
    return {
      form: {
        username: '',
        password: '',
        email: '',
        confirmPassward: '',
      },
      msg: '',
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    };
  },
  computed: {
  },
  methods: {
    async onSubmit () {
      
      if (!this.form.username || !this.form.password || !this.form.email) {
        this.$toastr.error('Please complete the form', 'Error', this.toastrOption);
        return
      } else if (this.form.password !== this.form.confirmPassward) {
        this.$toastr.error('Password and Confirm password does not match', 'Error', this.toastrOption);
        return
      }
      const { username, password, email } = this.form
      UserService.signup({ username, password, email })
        .then(res => {
          this.$router.push('/');
        })

    },
    onReset: function() {
      this.form.username = ''
      this.form.password = ''
      this.form.email = ''
      this.form.confirmPassowrd = ''
    },
  }
  
}
</script>

<style scoped>
.login-form {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 15px 70px 70px 71px;
}
</style>
