<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th></th>
          <th>Product</th>
          <th>Track ID</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <ship-item v-for="shipment in shipments" :key="shipment.id" :shipment="shipment"></ship-item>
      </tbody>
    </table>
  </b-container>
</template>

<script>
import { GET_ORDER_CART } from '../store/modules/cart/mutation-types';
import { FETCH_ORDER, GET_INVOICE, GET_SHIPMENT } from '../store/modules/order/mutation-types';
import { mapGetters } from 'vuex';
import ImageModal from '@/components/FrontendOrderImageModal'
import ShipItem from '@/components/FrontendShipItem'

export default {
  components: {
    ImageModal,
    ShipItem,
  },
  computed: {
    ...mapGetters({
      user: 'currentUser',
      orders: 'orders',
      cart: 'cart_order',
      invoice: 'invoice',
      shipments: 'shipments'
    }),
    total() {
      return this.cart.reduce((total, item) => {
        total += item.amount * item.product.price
        return total
      }, 0)
    }
  },
  mounted() {
    this.getShipment()
  },
  methods: {
   getShipment() {
     this.$store.dispatch(GET_SHIPMENT, this.user.id)
   }
  }
}

</script>