<template>
  <b-container>
    Username
    <b-form-input type="text" v-model="profile.username"></b-form-input>
    {{profile}}
  </b-container>
</template>

<script>
import { mapGetters } from 'vuex';
import { FETCH_PROFILE, EDIT_PROFILE } from '../store/modules/user/mutation-type.js';

export default {
  computed: {
    ...mapGetters({
      profile: 'profile',
    })
  },
  mounted () {
    this.fetch()
  },
  methods: {
    fetch() {
      this.$store.dispatch(FETCH_PROFILE, 'me')
    },
  }
}

</script>