<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <div v-if="profile.id === user.id">
      <b-row >
        <b-col md="3" class="profile-img">
          <b-row align-v="start">
            <b-img fluid-grow center width="300" height="300" v-if="profile.photo_link" :src="profile.photo_link"></b-img>
            <img class="img-fluid mx-auto" float width="300" height="300" src="../assets/no-profile-pic.jpg" v-else alt="">
        <!--    <b-img fluid-grow center width="300" height="300" v-else  src="../assets/no-profile-pic.jpg"></b-img> -->
          </b-row>
          <b-row align-v="center">
            <b-form-file  placeholder="Choose a file..."
                          v-model="main_photo"
                          accept="image/*"></b-form-file>
            <b-btn @click="upload">Upload</b-btn>
          </b-row>
        </b-col>
        <b-col>
          <b-row>
            <b-col>
              <strong>Username</strong>
              <b-form-input type="text" size="lg"  readonly v-model="profile.username"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6">
              <strong>First name</strong>
              <b-form-input type="text" size="lg" v-model="profile.first_name"></b-form-input>
            </b-col>
            <b-col>
              <strong>Last name</strong>
              <b-form-input type="text" size="lg" v-model="profile.last_name"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6">
              <strong>Phone Number</strong>
              <b-form-input type="text" size="lg" v-model="profile.phone_number"></b-form-input>
            </b-col>
            <b-col>
              <strong>E-mail</strong>
              <b-form-input type="email" size="lg" v-model="profile.email"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <strong>Address</strong>
              <b-form-textarea type="text" :rows="3" size="lg" v-model="profile.address"></b-form-textarea>
            </b-col>
          </b-row>
          <b-btn variant="success" @click="onChange(profile)">Save change</b-btn>
        </b-col>
      </b-row>
    </div>
    <div v-else>
      <b-row >
        <b-col md="3" class="profile-img">
          <b-row align-v="start">
            <b-img fluid-grow center width="300" height="300" v-if="profile.photo_link" :src="profile.photo_link"></b-img>
            <img class="img-fluid mx-auto" float width="300" height="300" src="../assets/no-profile-pic.jpg" v-else alt="">
        <!--    <b-img fluid-grow center width="300" height="300" v-else  src="../assets/no-profile-pic.jpg"></b-img> -->
          </b-row>
        </b-col>
        <b-col>
          <b-row>
            <b-col>
              <strong>Username</strong>
              <b-form-input type="text" size="lg"  readonly v-model="profile.username"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6">
              <strong>First name</strong>
              <b-form-input type="text" size="lg" readonly v-model="profile.first_name"></b-form-input>
            </b-col>
            <b-col>
              <strong>Last name</strong>
              <b-form-input type="text" size="lg" readonly v-model="profile.last_name"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col md="6">
              <strong>Phone Number</strong>
              <b-form-input type="text" size="lg" readonly v-model="profile.phone_number"></b-form-input>
            </b-col>
            <b-col>
              <strong>E-mail</strong>
              <b-form-input type="email" size="lg" readonly v-model="profile.email"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <strong>Address</strong>
              <b-form-textarea type="text" :rows="3" size="lg" readonly v-model="profile.address"></b-form-textarea>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </div>
    
    

  </b-container>
</template>

<script>
import { FETCH_PROFILE, EDIT_PROFILE } from '../store/modules/user/mutation-type.js'
import { mapGetters } from 'vuex';
import FileUpload from '@/services/upload'

export default {
  computed: {
    ...mapGetters({
      profile: 'profile',
      user: 'currentUser'
      
    })
  },
  data() {
    return {
      main_photo: null
    }
  },
  mounted() {
    this.fetchProfile()
  },
  methods: {
    fetchProfile: function() {
      const username = this.$route.params.username
      this.$store.dispatch(FETCH_PROFILE, username)
    },
    onChange(profile) {
      this.$store.dispatch(EDIT_PROFILE, profile)
    }, 
    upload() {
      const fd = new FormData()
      fd.append('profile', this.main_photo, this.main_photo.name)
      FileUpload.uploadProfile(fd)
        .then(({data}) => {
          this.profile.photo_link = data.photo_link
        })
    }
  }
}
</script>

<style scoped>
.profile-img {
  margin: 30px
}
.container {
  padding: 30px;
}
</style>
