<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <div class="search bg-light">
      <b-row>
        <b-col md="6" offset-md="3">
          <b-input-group>
            <b-form-input size="lg" v-model="search"
                    type="text"></b-form-input>
            <b-input-group-append>
              <b-btn @click="searchProduct">Search</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-input-group size="sm" prepend="Min Price">
            <b-form-input type="number" v-model="customFilter.min_price" />
          </b-input-group>
        </b-col>
        <b-col>
          <b-input-group size="sm" prepend="Max Price">
            <b-form-input type="number" v-model="customFilter.max_price" />
          </b-input-group>
        </b-col>
        <b-col>
          <b-input-group size="sm" prepend="Player">
            <b-form-input type="number" v-model="customFilter.player" />
          </b-input-group>
        </b-col>
        <!-- <b-col>
          <b-input-group size="sm" prepend="type">
            <b-form-input type="text" v-model="customFilter.type" />
          </b-input-group>
        </b-col> -->
      </b-row>
    </div>
    <!-- <b-form-input v-model="search"
                  type="text"></b-form-input>
    <b-btn v-b-modal.searchAdvance >Advance</b-btn>
    <b-form-input v-model="search"
                type="text"
                placeholder="Search product..."></b-form-input>
    <b-form-input v-model="customFilter.min_price"
                  type="text"
                  placeholder="Enter min price"></b-form-input>
    <b-form-input v-model="customFilter.max_price"
                  type="text"
                  placeholder="Enter max price"></b-form-input>
 -->
    <div class="album py-4 bg-light">
      <div class="container" v-cloak>
        <div class="row">
          <div class="col-md-4" v-for="product in displayedProducts" :key="product.id">
            <div class="card mb-4 box-shadow post-cards">
              <b-link :to="{name: 'product', params: { id: product.id }}">
                <product-preview :product="product"></product-preview>
              </b-link>
            </div>
          </div>
        </div>
        
        <div class="clearfix btn-group col-md-2 offset-md-4">
          <div v-if="filterSearch.length !== 0">
            <b-pagination size="md" :total-rows="filterSearch.length" v-model="page" :per-page="9"></b-pagination>
          </div>
          <div v-else>
            <p>No product found</p>
          </div>
        </div>
      </div>
    </div>
  </b-container>
  
</template>

<script>
import { mapGetters } from 'vuex';
import { FETCH_PRODUCT_LIST } from '../store/modules/product/mutation-types.js'

import ProductPreview from '@/components/ProductPreview'
import customIcon from 'vue-icon/lib/vue-feather.esm'

export default {
  components: {
    ProductPreview,
    customIcon,
  },
  data: function () {
    return {
      search: '',
      customFilter: {
        min_price: '',
        max_price: '',
        player: '',
        type: ''
      },
      page: 1,
      perPage: 9,
      pages: [],
      filterSearch: []
    }
  },
  computed: {
    ...mapGetters({
      products: 'products'
    }),
    filterdList() {
       /* return this.products
                .filter(product => {
                  return product.name.toLowerCase().includes(this.search.toLowerCase())
                 })
                 .filter(product => {
                   return parseInt(product.price) >= this.customFilter.min_price
                 }) */
                 
    },
    displayedProducts() {
      return this.paginate(this.filterSearch)
    },
  },
  watch: {
    products () {
      this.setPages()
    }
  },
  mounted() {
    this.getProductList()
  },
  methods: {
    getProductList() {
      this.$store.dispatch(FETCH_PRODUCT_LIST)
        .then(() => {
          this.filterSearch = this.products
        })
    },
    setPages () {
      let numberOfPages = Math.ceil(this.products.length / this.perPage)
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index)
      }
    },
    paginate (products) {
      let page = this.page
      let perPage = this.perPage
      let from = (page * perPage) - perPage
      let to = (page * perPage)
      return products.slice(from, to)
    },
    searchProduct () {
      /* this.filterSearch = this.products
                          .filter(product => {
                            return product.name.toLowerCase().includes(this.search.toLowerCase())
                          })
                          .filter(product => {
                            return product.price >= this.customFilter.min_price && product.price <= this.customFilter.max_price
                          }) */
      this.filterSearch = this.products
      let filteredDataByPrice = []
      let filteredDataByPlayer = []
      let filteredDataByType = []
      let filterdDataBySearch = []
      let min_price = this.customFilter.min_price
      let max_price = this.customFilter.max_price
      let player = this.customFilter.player

      if (min_price !== '' && max_price !== '') {
        filteredDataByPrice = this.filterSearch.filter(product =>  min_price <= parseInt(product.price) && parseInt(product.price) <= max_price)
        this.filterSearch = filteredDataByPrice
      } else if (min_price !== '') {
        filteredDataByPrice = this.filterSearch.filter(product =>  min_price <= parseInt(product.price))
        this.filterSearch = filteredDataByPrice
      } else if (max_price !== '') {
        filteredDataByPrice = this.filterSearch.filter(product =>  parseInt(product.price) <= max_price)
        this.filterSearch = filteredDataByPrice
      }
      
      if (player !== '') {
        filteredDataByPlayer = this.filterSearch.filter(product => parseInt(product.min_player) <= player && player <= parseInt(product.max_player))
        this.filterSearch = filteredDataByPlayer
      }

      if (this.search !== '') {
        filterdDataBySearch = this.filterSearch.filter(product => product.name.toLowerCase().includes(this.search.toLowerCase()))
        this.filterSearch = filterdDataBySearch
      }
    }
  }
}
</script>

<style scoped>
.v-icon,
.custom-icon {
  width: 30px;
}
.search {
  padding: 20px;
  border-bottom: 1px solid black;
}
.input-group {
	margin-bottom: 20px;
}
.btn-secondary {
	font-style: oblique;
}
.input-group-text {
	font-weight: 600;
}
.form-control-lg {
    height: calc(2.875rem + 2px);
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
}
</style>
