<template>
  <b-container>
    <div class="login-form shadow-sm p-3 mb-5 bg-white rounded">
      <h3 class="text-center">Login</h3>
      <b-form @submit.prevent="onSubmit" @reset.prevent="onReset">
        <b-form-group label="Username:">
          <b-form-input type="text"
                        v-model="form.username"
                        required
                        placeholder="Username">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Password:">
          <b-form-input type="password"
                        v-model="form.password"
                        required
                        placeholder="Password">
          </b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Submit</b-button>
        <b-button type="reset" variant="danger">Reset</b-button>
      </b-form>
    </div>
  </b-container>
</template>

<script>
import { LOGIN, SET_ERROR } from '../store/modules/auth/mutation-types.js'  
import { GET_CART_ID } from '../store/modules/order/mutation-types.js'
import { mapGetters } from 'vuex';

export default {
  data() {
    return {
      form: {
        username: '',
        password: ''
      },
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    };
  },
  computed: {
    ...mapGetters({
      errorMsg: 'errorMsg'
    })
  },
  watch: {
    'errorMsg': function () {
      if (this.errorMsg === 'Unauthorized') {
        //this.$toastr.success('Login Successfully', 'Success', this.toastrOption);
        this.$toastr.error('Username or password invalid', 'Error', this.toastrOption);
        this.$store.commit(SET_ERROR, '')
        return
      } else {
        //this.$toastr.success('Login Successfully', 'Success', this.toastrOption);
        this.$store.commit(SET_ERROR, '')
        return
        //this.msg = 'Username or password incorrect'
      }
    }
  },
  methods: {
    onSubmit: function () {
      const { username, password } = this.form
      this.$store.dispatch(LOGIN, { username, password })
      .then((res) => {
        this.$toastr.success('Login Successfully', 'Success', this.toastrOption);
        /* this.$store.dispatch(GET_CART_ID, res.id) */
        this.$router.push('/')
      }) 
    },
    onReset: function() {
      this.form.username = ''
      this.form.password = ''
    },
  }
  
}
</script>

<style scoped>
.login-form {
  margin: 10px auto 30px;
  max-width: 38%;
}
</style>
