<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Create At</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in orders" :key="order.id">
          <td>
            <b-link v-b-modal="modalOrder(order.id)"  @click="getItem(order.id)">
              {{order.id}}
            </b-link>
          <b-modal :id="'order'+order.id" size="lg" hide-footer centered>
            <div slot="modal-title">
              #{{order.id}}
            </div>
            <div>
                <table class="table mb-none">
                  <thead>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                  </thead>
                  <tbody>
                    <tr v-for="item in cart" :key="item.id">
                      <td>{{item.product.name}}</td>
                      <td>{{item.amount}}</td>
                      <td>{{subtotal(item)}}</td>
                    </tr>
                  </tbody>
                </table>
                Total: {{total}}
            </div>
          </b-modal>
          </td>
          <td>{{order.createdAt}}</td>
          <td>
            <b-button variant="danger" v-if="order.refOrderStatusId === 2">Unpaid</b-button>
            <b-button variant="warning" v-else>Paid</b-button>
          </td>
          <td>
            <b-btn variant="success" v-if="order.refOrderStatusId === 2" v-b-modal="modalImage(order.id)" @click="getInvoice(order.id)">Upload</b-btn>
          </td>
          <image-modal :order="order" :invoice="invoice"></image-modal>
        </tr>
      </tbody>
    </table>
  </b-container>
</template>

<script>
import { GET_ORDER_CART } from '../store/modules/cart/mutation-types';
import { FETCH_ORDER, GET_INVOICE } from '../store/modules/order/mutation-types';
import { mapGetters } from 'vuex';
import ImageModal from '@/components/FrontendOrderImageModal'

export default {
  components: {
    ImageModal,
  },
  computed: {
    ...mapGetters({
      user: 'currentUser',
      orders: 'orders',
      cart: 'cart_order',
      invoice: 'invoice'
    }),
    total() {
      return this.cart.reduce((total, item) => {
        total += item.amount * item.product.price
        return total
      }, 0)
    }
  },
  mounted() {
    this.getOrder()
  },
  methods: {
    getOrder() {
      this.$store.dispatch(FETCH_ORDER, this.user.id)
    },
    getInvoice(id) {
      this.$store.dispatch(GET_INVOICE, id)
    },
    modalImage(i) {
      return 'image' + i
    },
    modalOrder(i) {
      return 'order'+i
    },
    getItem(id) {
      this.$store.dispatch(GET_ORDER_CART, id)
    },
    subtotal(item) {
      return item.amount * item.product.price
    }
  }
}

</script>