<template>
  <div>
    <div class="body">
			<div role="main" class="main" id="home">
				<div class="slider-container slider-container-fullscreen">
					<div class="slider" id="revolutionSliderFullScreen" data-plugin-revolution-slider data-plugin-options='{"fullScreen": "on"}'>
						<ul class="tp-revslider-mainul">
							<b-carousel id="carousel1"
					                style="text-shadow: 1px 1px 2px #333;"
					                controls
					                indicators
					                background="#ababab"
					                :interval="40000"
					                img-width="1024"
					                img-height="480"
					                v-model="slide"
					                @sliding-start="onSlideStart"
					                @sliding-end="onSlideEnd"
					    			>
					    	<b-carousel-slide>
							<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
								<img class="tp-bgimg-1" src="../assets/background2.jpg"  data-fullwidthcentering="on" alt="">

									<div class="tp-caption sft stb visible-lg"
										 data-x="417"
										 data-y="100"
										 data-speed="300"
										 data-start="1000"
										 data-easing="easeOutExpo"></div>

									<div class="tp-caption top-label lfl stl top-label-1"
										 data-x="center" data-hoffset="0"
										 data-y="100"
										 data-speed="300"
										 data-start="500"
										 data-easing="easeOutExpo">THE MOST POPULAR OF ALL TIME</div>

									<div class="tp-caption sft stb visible-lg"
										 data-x="717"
										 data-y="100"
										 data-speed="300"
										 data-start="1000"
										 data-easing="easeOutExpo"></div>

									<div class="tp-caption main-label sft stb main-label-1"
										 data-x="center" data-hoffset="0"
										 data-y="130"
										 data-speed="300"
										 data-start="1500"
										 data-easing="easeOutExpo">ULTIMATE WAREWOLF!</div>

									<div class="tp-caption bottom-label sft stb bottom-label-1"
										 data-x="center" data-hoffset="0"
										 data-y="200"
										 data-speed="500"
										 data-start="2000"
										 data-easing="easeOutExpo">The classic of new generation</div>

									<a class="tp-caption customin btn btn-lg btn-primary main-button main-button-1" data-hash href="#projects"
										data-x="center" data-hoffset="0"
										data-y="250"
										data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
										data-speed="800"
										data-start="1700"
										data-easing="Back.easeInOut"
										data-endspeed="300">
											Buy Now!
									</a>
							</li>
							</b-carousel-slide>
							<b-carousel-slide>
							<li data-transition="fade" data-slotamount="10" data-masterspeed="300">
								<img class="tp-bgimg-2" src="../assets/characters.jpg" data-fullwidthcentering="on" alt="">
                                    <div class="tp-caption top-label lfl stl top-label-2"
                                        data-x="140"
                                        data-y="180"
                                        data-speed="300"
                                        data-start="500"
                                        data-easing="easeOutExpo">You Can Found The</div>

                                    <div class="tp-caption main-label sft stb main-label-2"
                                        data-x="135"
                                        data-y="210"
                                        data-speed="300"
                                        data-start="1500"
                                        data-easing="easeOutExpo">BEST BOARDGAME</div>

                                    <div class="tp-caption bottom-label sft stb bottom-label-2"
                                        data-x="150"
                                        data-y="280"
                                        data-speed="500"
                                        data-start="2000"
                                        data-easing="easeOutExpo">The #1 Website Selling Boardgame In The World</div>

                                    <a class="tp-caption customin btn btn-lg btn-primary main-button main-button-2" data-hash href="#home-intro"
                                        data-x="260"
                                        data-y="335"
                                        data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                        data-speed="800"
                                        data-start="2500"
                                        data-easing="Back.easeInOut"
                                        data-endspeed="300">
                                            See All Products!
                                    </a>
							</li>
							</b-carousel-slide>
							</b-carousel>
						</ul>
					</div>
				</div>
        		<div class="container">
					<div class="row center">
						<div class="col-md-12" style="margin-top:25px">
							<h1 class="short word-rotator-title">
								What is Boardhub?</h1>
							<p class="featured lead">
								เป็นเว็บไซต์ที่ออกแบบและพัฒนาเพื่อเป็นตัวกลางการซื้อขายบอร์ดเกม เพื่อสร้างให้การซื้อขายบอร์ดเกมกระทำได้ง่ายมากขึ้น ผู้ซื้อไม่ต้องไปตามหาซื้อบอร์ดเกมจากต่างประเทศ ทำให้ลูกค้าที่ต้องการซื้อไม่ต้องเสียเวลารอส่ง และเราจะเป็นตัวแทนจำหน่วยให้กับผู้ที่สร้างสรรค์บอร์ดเกมของตัวเอง โดยเราจะช่วยโปรโมทให้กับผู้ขายทำให้ผู้ขายขายบอร์ดเกมที่ตัวเองสร้างสรรค์ได้ง่ายขึ้น
							</p>
						</div>
					</div>

					<hr class="tall" />
				</div>

				<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax.jpg);">
					<div class="container">
						<div class="row center">
							<div class="col-md-12">
								<i class="fa icon-featured"><img alt="" height="45px" src="../assets/like.png"></i>
								<h2 class="short text-shadow big white bold"><strong>ความประทับใจของลูกค้า</strong></h2>
								<h3 class="lead white">360 Members and 50+ Boardgames in BOARDHUB</h3>
							</div>
						</div>
					</div>
				</section>

				<div class="container">
					<div class="row" id="team">
						<div class="col-md-12">
							<h2 data-appear-animation="fadeInLeft"><strong>Reviews</strong></h2>

							<div class="row">

								<ul class="team-list">
									<li class="col-12">
										<div class="team-item thumbnail">
											<a class="thumb-info team">
												<img class="img-review" src="../assets/kaimook.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Kaimook Warattaya</span>
													<span class="thumb-info-type">แม่บ้านแห่งบ้านวงศ์แสวง</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<span class="thumb-info-star">
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
												</span>
												<p class="p-review">"ชอบให้รู้ว่าชอบ คนเขียนbackend กับ Dev lead หล่อจังค่ะ ชอบมากๆ"</p>
											</span>
										</div>
									</li>
									<li class="col-12">
										<div class="team-item thumbnail">
											<a class="thumb-info team">
												<img class="img-review" src="../assets/phu.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Phu Tharit</span>
													<span class="thumb-info-type">Conputer Engineer</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<span class="thumb-info-star">
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
												</span>
												<p class="p-review">"หาเกมง่าย และตรงตามความต้องการ จัดส่งทันใจ ราคาไม่แพงเท่าที่อื่น"</p>
											</span>
										</div>
									</li>
									<li class="col-12">
										<div class="team-item thumbnail">
											<a class="thumb-info team">
												<img class="img-review" src="../assets/dondon.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Don Ruksachai</span>
													<span class="thumb-info-type">Freelance</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<span class="thumb-info-star">
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
												</span>
												<p class="p-review">"มีเกมให้เลือกมากมาย หาเกมที่หาไม่ได้ตามที่อื่นได้ แถมยังเปิดโอกาสให้ได้ออกแบบดีไซน์บอร์ดเกมเองด้วย"</p>
											</span>
										</div>
									</li>
									<li class="col-12">
										<div class="team-item thumbnail">
											<a class="thumb-info team">
												<img class="img-review" src="../assets/pom.jpg">
												<span class="thumb-info-title">
													<span class="thumb-info-inner">Pom Chanchai</span>
													<span class="thumb-info-type">Boardgame Creator</span>
												</span>
											</a>
											<span class="thumb-info-caption">
												<span class="thumb-info-star">
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
													<a><img class="star" alt="" src="../assets/favorites.png"></a>
												</span>
												<p class="p-review">"ส่วนตัวเป็นคนที่เล่นบอร์ดเกมเป็นประจำอยู่แล้ว ทำให้มีความคิดที่จะทำบอร์ดเกมขึ้นมาเองบ้าง พอลองทำดูแล้วได้รับการตอบรับดี แถมสามารถติดต่อกับผู้ซื้อได้ไม่ยากโดยมีเว็บไซต์เป็นตัวกลางทำให้สะดวกในการติดต่อขึ้นเยอะไม่จำเป็นต้องมีหน้าร้านเป็นของตัวเอง ก็สามารถมีรายได้ได้"</p>
											</span>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

				<section class="parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/parallax-transparent.jpg);">
					<div class="container">
						<div class="row center">
							<div class="col-md-12">
								<i class="fa icon-featured"><img height="45px" src=../assets/contact.png></i>
								<h2 class="short text-shadow big bold" data-appear-animation="fadeInUp"><strong>Get in Touch With Us</strong></h2>
							</div>
						</div>
					</div>
				</section>
      </div>
    </div>
  </div>
</template>

<script>
import FrontendProductList from '@/components/FrontendProductList'

export default {
  name: 'Home',
  components: {
    FrontendProductList
  },
  data () {
    return {
      slide: 0,
      sliding: null
    }
  },
  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    }
  }
}

</script>

<style scoped>
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul.team-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}
.center {
    text-align: center;
}
.fadeInLeft {
    animation-name: fadeInLeft;
}
.animated, .appear-animation {
    animation-fill-mode: both;
    animation-duration: 1s;
}
.appear-animation-visible {
    opacity: 1;
}
h2 {
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
    margin: 0 0 32px 0;
}
.row {
	width: unset;
	margin: 0px;
    margin-right: -15px;
    margin-left: -15px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
h1.short {
    margin-bottom: 15px;
}
h1 {
    font-size: 2.6em;
    line-height: 44px;
    margin: 0 0 44px 0;
}
h1, h2, h3, h4, h5, h6 {
    color: #0e0e0e;
    font-weight: 200;
    letter-spacing: -1px;
}
ul.team-list .team-item {
    margin-bottom: 80px;
}
.thumbnail {
    display: block;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border .2s ease-in-out;
}
.thumb-info {
    position: relative;
    text-decoration: none;
    max-width: 100%;
}
body a {
    outline: none !important;
}
a {
    color: #f29c38;
    background-color: transparent;
    float: left;
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
	margin-bottom: 50px;
}
.img-review {
    height: 100px;
}
.thumb-info img {
    transition: all 0.2s linear;
    border-radius: 3px;
    position: relative;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.thumb-info .thumb-info-title {
    transition: all 0.3s;
    background: rgba(36, 27, 28, 0.9);
    bottom: 10%;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    left: 0;
    letter-spacing: -1px;
    padding: 9px 11px 9px;
    position: absolute;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    z-index: 1;
}
.thumb-info .thumb-info-inner {
    transition: all 0.3s;
    display: block;
    white-space: nowrap;
}
.thumb-info .thumb-info-type {
    background-color: #f88624;
    border-radius: 2px;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    margin: 8px -2px -15px -2px;
    padding: 2px 9px;
    text-transform: none;
    white-space: nowrap;
}
.thumb-info-caption {
    padding: 10px 0;
    display: block;
}
.thumb-info-caption p {
    font-size: 0.9em;
    line-height: 27px;
    margin: 14.4px 0 8px;
    padding: 10px;
}
l.team-list .team-item .thumb-info-social-icons {
    margin: 0 10px;
}
.thumb-info-social-icons {
    border-top: 1px dotted #DDD;
    padding: 15px 0;
    display: block;
}
li {
    line-height: 24px;
}
ul.team-list .team-item .thumb-info-social-icons {
    margin: 0 10px;
}
.thumb-info-social-icons a {
    background: #CCC;
    border-radius: 25px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.thumb-info-social-icons a {
    background-color: #f88624;
}
.thumb-info-social-icons a i {
    color: #FFF;
    font-size: 0.9em;
    font-weight: normal;
}
.fa {
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.fa-comments:before {
    content: "\f086";
}
.fa-facebook:before {
    content: "\f09a";
}
.fa-twitter:before {
    content: "\f099";
}
.fa-linkedin:before {
    content: "\f0e1";
}
.fa-envelope:before {
    content: "\f0e0";
}
.thumb-info-social-icons a span {
    display: none;
}
p {
	margin: unset;
    color: #777777;
}
i.icon-featured {
    background-color: #f86624;
    border-color: #f86624;
}
.bounceIn {
    animation-name: bounceIn;
}
.animated, .appear-animation {
    animation-fill-mode: both;
    animation-duration: 1s;
}
.appear-animation-visible {
    opacity: 1;
}
.icon-featured {
    border-radius: 100%;
    color: #FFF;
    font-size: 40px;
    line-height: 110px;
    margin: 25px 0;
    display: inline-block;
    padding: 0;
    width: 110px;
    height: 110px;
}
.lead {
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
    font-size: 21px;
}
.slider {
	height: 100%; 
	max-height: none;
    position: relative;
}
.slider-container {
    background: #171717;
    padding: 0;
    position: relative;
    z-index: 1;
}
.slider-container-fullscreen {
	max-height: none; 
	overflow: visible; 
}
section.highlight {
    background: #CCC;
    border-left: 0;
    border-right: 0;
    border: 3px solid #CCC;
    margin: 35px 0 45px;
    padding: 40px 0;
    color: #f29c38;
}
section.highlight {
    background-color: #000000 !important;
    border-color: #000000 !important;
}
section.highlight.top {
    margin-top: 0;
}
section.highlight h1, section.highlight h2, section.highlight h3, section.highlight h4, section.highlight h5 {
    color: #FFF;
}
.owl-carousel {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel-spaced {
    margin-left: -5px;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
}
.owl-stage-outer {
    padding-left: 0px;
    padding-right: 0px;
}
.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}
.owl-stage {
	width: 4560px;
    transform: translate3d(-1140px, 0px, 0px);
    transition: all 1s ease 0s;
}
.owl-carousel .owl-stage {
    position: relative;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    user-select: none;
}
.owl-item cloned {
    width: 285px;
    margin-right: 0px;
}
.owl-carousel-spaced .owl-item > div {
    margin: 5px;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;
}
.img-thumbnail {
    border-radius: 6px;
    position: relative;
}
section.highlight .img-thumbnail {
    background-color: #FFF !important;
    border-color: #FFF !important;
}
.popup-inline-content {
    background: none repeat scroll 0 0 #FFF;
    margin: 40px auto;
    max-width: 1170px;
    padding: 20px 30px;
    position: relative;
    text-align: left;
    display: none;
}
h4 {
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}
ul.icons {
    list-style: none;
}
ul.list-unstyled {
    padding-left: 0;
    padding-right: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
.push-top {
    margin-top: 35px;
}
.arrow {
    display: inline-block;
    position: relative;
}
.arrow.hlb {
    background-position: -209px -101px;
    width: 120px;
    height: 47px;
}
ul.list li {
    margin-bottom: 13px;
}
.slider-container .top-label {
    color: #FFF;
    font-weight: 300;
}
.tp-caption {
    z-index: 1;
    white-space: nowrap;
}
.slider-container .main-label {
    color: #FFF;
    font-size: 62px;
    line-height: 75px;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.slider-container .bottom-label {
    color: #FFF;
    font-weight: 300;
}
.tp-simpleresponsive a {
    text-decoration: none;
}
.slider .main-button {
    font-weight: 600;
}
.top-label-1 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 18px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-family: "Garamond";
    font-size: 2vw;
    width: 100%;
    top: 20%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    animation: mymove 3s forwards;
}
.main-label-1 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 46px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-family: "Garamond";
    font-size: 5vw!important;
    width: 100%;
    top: 27%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    animation: mymove 3s forwards;
    animation-delay: 4s;
}
.bottom-label-1 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 18px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-family: "Garamond";
    font-size: 2vw;
    width: 100%;
    top: 43%;
    visibility: visible;
    opacity: 0;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    animation: mymove 3s forwards;
    animation-delay: 8s;
}
.main-button-1 {
	position: absolute;
    transition: all 0s ease 0s;
    line-height: 1vw;
    border-width: 1px;
    margin: 0px;
    padding: 0.75vw 0.5vw;
    letter-spacing: 0px;
    font-family: "Garamond";
    font-size: 1vw;
    width: 7vw;
    height: 2.5vw;
    left: 46%;
    top: 52%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50% 0% 0px;
    animation: mymove 3s forwards;
    animation-delay: 12s;
}
.top-label-2 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 18px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-family: "Georgia";
    font-size: 2.25vw;
    left: 5%;
    top: 20%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    animation: mymove 3s forwards;
}
.main-label-2 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 46px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-family: "Georgia";
    font-size: 5vw!important;
    left: 5%;
    top: 27%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    animation: mymove 3s forwards;
    animation-delay: 4s;
}
.bottom-label-2 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 18px;
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-family: "Georgia";
    font-size: 2.25vw;
    left: 5%;
    top: 43%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    animation: mymove 3s forwards;
    animation-delay: 8s;
}
.main-button-2 {
	position: absolute;
    transition: all 0s ease 0s;
    min-height: 0px;
    min-width: 0px;
    line-height: 2vw;
    border-width: 1px;
    margin: 0px;
    padding: 0.5vw 1vw;
    letter-spacing: 0px;
    font-family: "Georgia";
    font-size: 1vw;
    width: 15vw;
    height: 3vw;
    left: 5%;
    top: 52%;
    opacity: 0;
    visibility: visible;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.0025, 0, 0, 0, 1);
    transform-origin: 50% 0% 0px;
    animation: mymove 3s forwards;
    animation-delay: 12s;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
    position: absolute;
    -webkit-font-smoothing: antialiased !important;
}

.tp-revslider-mainul {
	padding: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    max-height: none;
}
.tp-simpleresponsive ul, .tp-simpleresponsive ul li, .tp-simpleresponsive ul li:before {
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    background-image: none;
}
.tp-simpleresponsive >ul >li {
    position: absolute;
}
.visible-lg {
    display: block !important;
}
.btn-primary, .pagination > .active > a, body.dark .pagination > .active > a, .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    border-color: #f29c38 !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f29c38;
}
.btn-lg, .btn-group-lg > .btn {
    border-radius: 6px;
}
.owl-controls {
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}
.owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #d6d6d6;
    display: block;
    transition: opacity 200ms ease;
    border-radius: 30px;
}
@keyframes mymove {
    from {opacity: 0;}
    to {opacity: 1;}
}
.star {
	position: relative;
}
.p-review {
	padding-left: 220px!important;
	font-size: 20px!important;
}
.p {
	font-style: Times New Roman;
}
.word-rotator-title, h2 {
	font-family: "Comic Sans MS";
}
.team-item {
	border-color: #011627;
	border-width: 3px;
}
</style>



<style>
#carousel2___BV_inner_ {
	overflow: visible;
}
#carousel2___BV_indicators_ {
	margin-bottom: -4%;
	bottom: 0px;
}
.carousel-caption {
	position: unset;
	padding: 0;
}
.carousel-control-next, .carousel-control-prev {
	width: 3%;
}
.tp-bgimg-1 {
    background-image: url(../assets/characters.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    opacity: 1;
    visibility: inherit;
}
.tp-bgimg-2 {
    background-image: url(../assets/background2.jpg);
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 100%;
    max-height: 600px;
    opacity: 1;
    visibility: inherit;
}
</style>