<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    
               
    <div role="main" class="main shop">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="thumbnail">
              <img alt="" class="img-responsive img-rounded" :src="product.main_photo" style="width: 500px">
            </div>
          </div> 
          <div class="col-md-6">
            <div class="summary entry-summary">
              <h1 class="shorter"><strong>{{product.name}}</strong></h1>
              <div class="review_num">
                <span class="count" itemprop="ratingCount">2</span> reviews
              </div>
              <div title="Rated 5.00 out of 5" class="star-rating">
                <span style="width:100%"><strong class="rating">5.00</strong> out of 5</span>
              </div>
              <p class="price">
                <span class="amount">${{product.price}}</span>
              </p>
              <p class="taller">{{product.description}}</p>
              <form class="cart">
                <b-btn variant="primary" @click.prevent="addItem(product)">Add to cart</b-btn>
                <!-- <b-btn  v-if="product.create_by == user.id || user.role === 'admin'" 
                        v-b-modal="productModal(product.id)" 
                        >edit</b-btn> -->
                <!-- <edit-product :product="product"></edit-product> -->
                <b-btn  v-if="product.create_by == user.id || user.role === 'admin'"
                        :to="{ name: 'edit-product', params: {id: product.id} }">Edit</b-btn>
                <!-- <button href="#" class="btn btn-primary btn-icon" @click.prevent="addItem(product)">Add to cart</button> -->
              </form>
              
              <div class="product_meta">
                <span class="posted_in">Categories: </span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="tabs tabs-product">
              <ul class="nav nav-tabs">
                <li class="active"><a href="#productReviews" data-toggle="tab">Review</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="productReviews">
                  <ul class="comments">
                    <li v-for="comment in comments" :key="comment.id">
                      <product-comment :comment="comment" :comments="comments"></product-comment>
                    </li>
                  </ul>
                  <hr class="tall">
                  <h4>Add a review</h4>
                  <div class="row">
                    <div class="col-md-12">
                      <form action="" id="submitReview" method="post">
                        <div class="form-group">
                          <div class="col-md-12">
                            <label>Review *</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" v-model="comment"></textarea>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <input type="submit" value="Submit Review" class="btn btn-primary" data-loading-text="Loading..." style="margin-top:10px;" @click.prevent="addComment">
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </b-container>
</template>

<script>
import { FETCH_PRODUCT, ADD_CART } from '../store/modules/product/mutation-types';
import { ADD_COMMENT, GET_COMMENT } from '../store/modules/comment/mutation-types.js'
import { mapGetters } from 'vuex';
import ProductComment from '@/components/ProductComment'
import EditProduct from '@/components/BackendProductEditModal'

export default {
  props: ['id'],
  components: {
    ProductComment,
    EditProduct
  },
  computed: {
    ...mapGetters({
      product: 'product',
      cart: 'cart',
      user: 'currentUser'
    })
  },
  mounted() {
    this.getProduct()
  },
  data () {
    return {
      comments: [],
      comment: ''
    }
  },
  methods: {
    getProduct: function() {
      this.$store.dispatch(FETCH_PRODUCT, this.id)
        .then(() => {
          this.comments = this.product.productComments
        })
    },
    addItem: function(product) {
      const order = {
        item: product,
        isAdd: true
      }
      this.updateCart(order)
    },
    updateCart: function(order) {
      this.$store.dispatch(ADD_CART, order)
    },
    addComment() {
      this.$store.dispatch(ADD_COMMENT, {id: this.id, comment: this.comment})
        .then(() => {
          this.comment = ''
        })
    },
    productModal(i) {
      return 'product' + i
    },
  }
};
</script>

<style scoped>
*:before, *:after {
    box-sizing: border-box;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
    display: table;
    content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
    clear: both;
}
.shop {
    margin-top: -10px;
}
* {
    box-sizing: border-box;
}
.container {
    width: 1170px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
hr.tall {
    margin: 44px 0 44px 0;
}
hr {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent);
    border: 0;
    height: 1px;
}
hr {
    box-sizing: content-box;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
.col-md-6 {
    width: 50%;
    margin-top: 30px;
}
.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: border .2s ease-in-out;
    border-top-color: #f88624;
    border-top-width: 3px;
}
img {
    border: 0;
    vertical-align: middle;
}
.img-rounded {
    border-radius: 6px;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}
.thumbnail > img, .thumbnail a > img {
    margin-right: auto;
    margin-left: auto;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
}
h1, h2, h3, h4, h5, h6 {
    /* color: #0e0e0e; */
    font-weight: 200;
    letter-spacing: -1px;
}
h1 {
    font-size: 2.6em;
    line-height: 44px;
    margin: 0 0 44px 0;
}
h1.shorter, h2.shorter, h3.shorter, h4.shorter, h5.shorter, h6.shorter {
    margin-bottom: 0;
}
.shop .review_num {
    margin-right: 10px;
    float: left;
    position: relative;
    top: -1px;
}
.shop .star-rating {
    float: none;
    top: 2px;
    font-family: 'star';
    font-size: 1em;
    height: 1.2em;
    line-height: 1em;
    overflow: hidden;
    position: relative;
    width: 5.4em;
    margin-bottom: 25px;
}
.shop .star-rating:before {
    color: #E0DADF;
    content: "SSSSS";
    float: left;
    left: 0;
    position: absolute;
    top: 0;
}
.shop .star-rating span {
    float: left;
    left: 0;
    overflow: hidden;
    padding-top: 1.5em;
    position: absolute;
    top: 0;
}
.shop .star-rating span, .shop .cart-totals tr.total .amount {
    color: #f86624;
}
.shop .star-rating span:before {
    content: "SSSSS";
    left: 0;
    position: absolute;
    top: 0;
}
.shop .summary .price {
    /* color: #444; */
    font-size: 2em;
    letter-spacing: -1px;
    line-height: 30px;
    margin-top: 20px;
}
p {
    margin: 0 0 20px;
}
.shop .quantity {
    margin: 0 15px 25px 0;
    overflow: hidden;
    position: relative;
    width: 125px;
    height: 35px;
    float: left;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    /* color: inherit; */
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
}
.shop .quantity .minus {
    background: #f4f4f4;
    border: 1px solid #C8BFC6;
    border-radius: 2px;
    box-shadow: none;
    color: #5E5E5E;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 13px;
    margin: 0;
    overflow: visible;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    vertical-align: text-top;
    width: 35px;
}
.shop .quantity .qty {
    border: 1px solid #CCC;
    box-shadow: none;
    float: left;
    height: 35px;
    padding: 0 39px;
    text-align: center;
    width: 125px;
    font-size: 1em;
}
.shop .quantity .plus {
    background: #f4f4f4;
    border: 1px solid #C8BFC6;
    border-radius: 2px;
    box-shadow: none;
    color: #5E5E5E;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 35px;
    line-height: 13px;
    margin: 0;
    overflow: visible;
    outline: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    vertical-align: text-top;
    width: 35px;
    right: 0;
    top: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
/* .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
} */
/* .btn-primary, .pagination > .active > a, body.dark .pagination > .active > a, .owl-theme .owl-controls .owl-nav [class*="owl-"] {
    border-color: #f29c38 !important;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #f29c38;
    border-color: #f88624;
} */
/* p {
    color: #777777;
    line-height: 24px;
    margin: 0 0 20px;
} */
p.taller {
    margin-bottom: 40px;
}
.shop .product_meta {
    clear: both;
}
.col-md-12 {
    width: 100%;
}
.tabs {
    border-radius: 4px;
    margin-bottom: 35px;
}
.shop .tabs-product {
    margin-top: 35px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs {
    margin: 0;
    padding: 0;
    font-size: 0;
    border-bottom-color: #EEE;
}
.nav-tabs li {
    display: inline-block;
    float: none;
}
a {
    text-decoration: none;
}
body a {
    outline: none !important;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.nav-tabs li a {
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    margin-right: 1px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    /* color: #555; */
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    background: #FFF;
    border-left-color: #EEE;
    border-right-color: #EEE;
    border-top: 3px solid #CCC;
    color: #CCC;
}
.tabs ul.nav-tabs li.active a {
    border-top-color: #f88624;
    color: #f88624;
}
li {
    line-height: 24px;
}
.nav > li {
    position: relative;
    display: block;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs li a, .nav-tabs li a:hover {
    background: #F4F4F4;
    border-bottom: none;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-top: 3px solid #EEE;
    color: #CCC;
}
.nav-tabs li:last-child a {
    margin-right: 0;
}
.nav-tabs li:last-child a {
    margin-right: 0;
}
.tab-content {
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.04);
    background-color: #FFF;
    border: 1px solid #EEE;
    border-top: 0;
    padding: 15px;
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
    visibility: visible;
}
ul.comments {
    list-style: none;
    margin: 0;
    padding: 0;
}
h4 {
    color: #CCC;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 27px;
    margin: 0 0 14px 0;
}
h3, h4, h5 {
    color: #f88624;
}
ul.comments li {
    clear: both;
    padding: 10px 0 0 115px;
}
ul.comments li .comment {
    margin-bottom: 10px;
}
.img-thumbnail {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: all .2s ease-in-out;
}
.img-thumbnail {
    border-radius: 6px;
}
ul.comments li .img-thumbnail {
    margin-left: -115px;
    position: absolute;
}
.img-thumbnail img {
    border-radius: 4px;
}
ul.comments li img.avatar {
    height: 80px;
    width: 80px;
}
ul.comments .comment-block {
    border-radius: 5px;
    padding: 20px 20px 30px;
    position: relative;
}
.shop ul.comments .comment-block {
    background: #F5F7F7;
}
ul.comments .comment-arrow {
    border-bottom: 15px solid transparent;
    border-right: 15px solid #F4F4F4;
    border-top: 15px solid transparent;
    height: 0;
    left: -15px;
    position: absolute;
    top: 28px;
    width: 0;
}
.shop ul.comments .comment-arrow {
    border-right-color: #F5F7F7;
}
ul.comments .comment-block .comment-by {
    display: block;
    font-size: 1em;
    line-height: 21px;
    margin: 0;
    padding: 0 0 5px 0;
}
.pull-right {
    float: right !important;
}
ul.comments .comment-block p {
    font-size: 0.9em;
    line-height: 21px;
    margin: 0;
    padding: 0;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
form label {
    font-weight: normal;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    /* color: #555; */
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
textarea {
    overflow: auto;
    resize: vertical;
}
textarea.form-control {
    height: auto;
}
</style>
