<template>
  <div>
    <div id="main-container" class="row col-10 offset-1"> 
      <div id="left-menu-group" class="col-sm-4 col-md-2">
        <b id="menu-label">Menu</b>
        <div class="btn-group-vertical">
          <button type="button" class="btn left-menu-btn">My Orders</button>
          <button type="button" class="btn left-menu-btn">My Cart</button>
          <button type="button" class="btn left-menu-btn">Change Password</button>
          <button type="button" class="btn left-menu-btn">Change Profile</button>
          <button type="button" class="btn left-menu-btn">Payment Confirm</button>
          <button type="button" class="btn left-menu-btn">My Address</button>
        </div>
      </div>
      <div id="profile-head" class="col-sm-8 col-md-10">
        <div class="span4">
          <img v-if="!profile.photo_link" id="profile-picture" src="../assets/no_profile_pic.jpg" width="100px" height="100px" class="img-thumbnail img-responsive">
          <img v-else id="profile-picture" :src="profile.photo_link" width="100px" height="100px" class="img-thumbnail img-responsive">
          <div v-if="!profile.username" id="username">Username</div>
          <div v-else id="username">{{ profile.username }}</div>
        </div>
        <hr>
        <div id="profile-body">
          <div class="row">
            <label class="col-3 profile-label">Name:</label>
            <div class="col-9 profile-value">{{ profile.first_name }} {{ profile.last_name }}</div>
          </div>
          <div class="row">
            <label class="col-3 profile-label">Gender:</label>
            <div class="col-9 profile-value">{{ profile.gender }}</div>
          </div>
          <div class="row">
            <label class="col-3 profile-label">Birthday:</label>
            <div class=" col-9 profile-value">{{ profile.birthday }}</div>
          </div>
          <div class="row">
            <label class="col-3 profile-label">Email:</label>
            <div class="col-9 profile-value">{{ profile.email }}</div>
          </div>
          <div class="row">
            <label class="col-3 profile-label">Phone:</label>
            <div class="col-9 profile-value">{{ profile.phone_number }}</div>
          </div>
          <div class="row">
            <label class="col-3 profile-label">Role:</label>
            <div class="col-9 profile-value">{{ profile.roles }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <!--  <div>
     <p>Name: {{ profile.first_name }} {{ profile.last_name }} </p>
     <p>Gender: {{ profile.gender }}</p>
     <p>Username: {{ profile.username }}</p>
     <p>E-mail: {{ profile.email }}</p>
  </div> -->
</template>

<script>
import { mapState } from 'vuex'
import ProfileService from '@/services/profile'

export default {
  computed: mapState({profile: state => state.user.profile})
}
</script>

<style scoped>
#menu-label {
    margin: auto auto auto auto;
}

#main-container {
    margin-top: 10px;
}

#left-menu-group {
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.left-menu-btn{
    background-color: #f9f9f9;
    text-align: left;
    align-self: left;
    white-space:normal !important;
    word-wrap: break-word;
}

#profile-head {
    margin: auto;
    padding-left: 5px;
    border: 1px;
    padding:10px;
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.span4 img {
    margin-right: 10px;
}

#profile-picture {
    float:left;
}

#username {
    text-align: left;
    margin-left: 10px;
    font-size: 2rem;
    padding-top: 25px;
    padding-bottom: 25px;
}


</style>
