<template>
  <div class="container max-w-sm mx-auto mt-32 text-center">
    <form class="form-signup">
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" v-model="username" required autofocus>
      <label for="inputEmail" class="sr-only">E-mail</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="E-mail address" v-model="email" required>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" v-model="password" required>
      <!-- <label for="inputConfirmPassword" class="sr-only">Confirm Password</label>
      <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" v-model="confirmPassword" required> -->
      <button 
        class="btn btn-lg btn-primary btn-block"
        :class="{ 'opacity-75 pointer-events-none': isDisabled }"
        @click.prevent="signup">Register</button>
    </form>
  </div>
</template>

<script>
import UserService from '@/services/auth';

export default {
  data() {
    return {
      username: '',
      password: '',
      email: '',
      confirmPassword: '',
      isDisabled: false
    };
  },
  methods: {
    signup() {
      const username = this.username;
      const password = this.password;
      const email = this.email;

      this.isDisabled = true;

      UserService.signup({ username, password, email })
        .then(res => {
          this.isDisabled = false;
          this.$router.push('home');
        })
        .catch(err => {
          this.isDisabled = false;
        });
    }
  }
};
</script>

<style scoped>
.form-signup {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signup .checkbox {
  font-weight: 400;
}
.form-signup .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signup .form-control:focus {
  z-index: 2;
}
.form-signup input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signup input[type="email"] {
  margin-bottom: -1px;
  border-radius: 0;
}
.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
} 
#inputConfirmPassword {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

