<template>
  <b-container>
    <b-form-file v-model="file" :state="Boolean(file)" placeholder="Choose a file..."></b-form-file>
    <b-btn @click="upload">Upload</b-btn>
    <b-img :src="photo"></b-img>
  </b-container>
</template>

<script>
import UploadService from '../services/upload.js'

export default {
  data () {
    return {
      file: null,
      photo: null
    }
  },
  methods: {
    upload() {
      const formData = new FormData()
      formData.append('main_photo', this.file, this.file.name)
      UploadService.uploadProduct(formData)
        .then(({data}) => {
          this.photo = data.main_photo
        })
    }
  }
}
</script>