<template>
    <div class="root">
        <div class="container">
            <ul class="progressbar">
                <li class="active">มีคำสั่งซื้อใหม่</li>
                <li>ชำระเงินสินค้าเรียบร้อยแล้ว</li>
                <li>สินค้าได้รับการจัดส่ง</li>
                <li>ได้รับสินค้าเรียบร้อย</li>
            </ul>
        </div>
    </div>
</template>

<style scoped>
.container{
  width: 100%;
  position: absolute;
  z-index: 1;
  margin-top: 20px;
}
.progressbar{
    counter-reset: step;
}
.progressbar li{
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
}

.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}
.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar li.active:before{
 border-color: #f86624;
 background: #f86624;
 color: white
}
.progressbar li.active:after{
 background: #f86624;
}
.progressbar li.active + li:after{
 background: #f86624;
}
.progressbar li.active + li:before{
border-color: #f86624;
background: #f86624;
color: white
}
.progressbar li:first-child:after{
content: none;
}
</style>
