<template>
  <div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12">
                <aside class="sidebar">
                    <h4>Menu</h4>
                    <ul class="nav nav-list primary push-bottom">
                        <li><a href="#">Order</a></li>
                        <li><a href="#">Address</a></li>
                        <li><a href="#">User's details</a></li>
                        <li><a href="#">Sign out</a></li>
                    </ul>

                </aside>
            </div>
            <div class="col-md-9 col-sm-10 col-xs-12">
                <div v-if="!profile.photo_link" class="col-md-12">
                    <img src="../assets/no_profile_pic.jpg" class="img-fluid img-thumbnail float-left" width="150px"
                        height="150px">
                </div>
                <div v-else class="col-md-12">
                    <img :src="profile.photo_link" class="img-fluid img-thumbnail float-left" width="150px"
                        height="150px">
                </div>
                <!-- <div class="col-md-12">
                    <img src="asset/no_profile_pic.jpg" class="img-fluid img-thumbnail float-left" width="150px"
                        height="150px">
                </div> -->
                <br>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="account_first_name">First name&nbsp;:</span></label>
                    <br>
                    {{profile.first_name}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="account_last_name">Last name&nbsp;:</span></label>
                    <br>
                    {{profile.last_name}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="gender">Gender&nbsp;:</span></label>
                    <br>
                    {{profile.gender}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="number">Phone&nbsp;Number&nbsp;:</span></label>
                    <br>
                    {{profile.phone_number}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="username">Username&nbsp;:</span></label>
                    <br>
                    {{profile.username}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="account_email">Email address&nbsp;:</span></label>
                    <br>
                    {{profile.email}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="city">City&nbsp;:</span></label>
                    <br>
                    {{profile.city}}
                </p>
                <p class="col-md-6 col-sm-6 col-xs-6">
                    <label for="country">Country&nbsp;:</span></label>
                    <br>
                    {{profile.country}}
                </p>
                <router-link 
                  tag="button"
                  class="btn btn-success"
                  :to="{ name: 'edit-profile' }">Edit</router-link>
            </div>
        </div>

    </div>
  </div>
</template>

<script>
import { FETCH_PROFILE } from '../store/modules/user/mutation-type.js'
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters([
      'profile',
    ])
  },
  data() {
    return {
    }
  },
  mounted() {
    this.fetchProfile()
  },
  methods: {
    fetchProfile: function() {
      const username = this.$route.params.username
      this.$store.dispatch(FETCH_PROFILE, username)
    }
  }
}
</script>

<style scoped>
#menu-label {
    margin: auto auto auto auto;
}

#main-container {
    margin-top: 10px;
}

#left-menu-group {
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.left-menu-btn{
    background-color: #f9f9f9;
    text-align: left;
    align-self: left;
    white-space:normal !important;
    word-wrap: break-word;
}

#profile-head {
    margin: auto;
    padding-left: 5px;
    border: 1px;
    padding:10px;
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.span4 img {
    margin-right: 10px;
}

#profile-picture {
    float:left;
}

#username {
    text-align: left;
    margin-left: 10px;
    font-size: 2rem;
    padding-top: 25px;
    padding-bottom: 25px;
}


</style>
