<template>
  <div>
    <p>My order</p>
    {{cart}}
    cart_id{{cart_id}}
  </div>
</template>

<script>
import { FETCH_CART } from '../store/modules/cart/mutation-types.js'
import { mapGetters, mapState } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      currentUser: 'currentUser',
      orders: 'orders',
      cart: 'cart',
      cart_id: 'cart_id'
    }),
    totalOrder: function() {
      let orders = this.orders
      orders = orders.filter( a => {
        return a.refOrderStatusId === 2 || a.refOrderStatusId === 3
      })
      return orders
    },
  },
  data() {
    return {
      user: this.$store.state.auth.user.id
    }
  },
  mounted() {
    this.fetchOrder()
    this.fetchCart()
  },
  methods: {
    fetchOrder: function() {
      //console.log(this.user)
      /* this.$store.dispatch(FETCH_ORDER, this.user) */
    },
    fetchCart: function() {
      this.$store.dispatch(FETCH_CART, 4)
    }
  }
}
</script>