<template>
  <div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12">
                <aside class="sidebar">
                    <h4>Menu</h4>
                    <ul class="nav nav-list primary push-bottom">
                        <li><a href="#">Order</a></li>
                        <li><a href="#">Address</a></li>
                        <li><a href="#">User's details</a></li>
                        <li><a href="#">Sign out</a></li>
                    </ul>
                </aside>
            </div>
            <div class="col-md-9 col-sm-10 col-xs-12">
                <form class="edit-account row" v-on:submit.prevent="onChange(profile)">
                    <section class="row col-md-12">
                        <div v-if="!profile.photo_link" class="col-md-3 col-sm-4 col-xs-12">
                            <img src="../assets/no_profile_pic.jpg" class="img-fluid img-thumbnail float-left" width="150px"
                                height="150px">
                        </div>
                        <div v-else class="col-md-3 col-sm-4 col-xs-12">
                            <img :src="profile.photo_link" class="img-fluid img-thumbnail float-left" width="150px"
                                height="150px">
                        </div>
                        <div class="col-md-9 col-sm-8 col-xs-12">
                            <form enctype="multipart/form-data">
                                <div class="col-md-6">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="input-append">
                                        <div class="uneditable-input">
                                            <i class="fa fa-file fileupload-exists"></i>
                                            <span class="fileupload-preview"></span>
                                        </div>
                                        <span class="btn btn-default btn-file">
                                            <p v-if="isInitial">Drag your file(s) here to begin<br> or click to browse</p>
                                            <p v-if="isSaving">Uploading {{ fileCount }} files...</p>
                                            <input type="file" multiple :name="uploadFieldName" 
                                            @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                                            accept="image/*" class="input-file">
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </section>
                    <p class="col-md-6 col-sm-6 col-xs-6">
                        <label for="account_first_name">First name</label>
                        <br>
                        <input class="input-text form-control" name="account_first_name" id="account_first_name"
                            v-model="profile.first_name" type="text">
                    </p>
                    <p class="col-md-6 col-sm-6 col-xs-6">
                        <label for="account_last_name">Last name</label>
                        <br>
                        <input class="input-text form-control" name="account_last_name" id="account_last_name"
                            v-model="profile.last_name" type="text">
                    </p>
                    <div class="clear"></div>
                    <p class="col-md-12">
                        <label for="account_email">Email address</label>
                        <br>
                        <input class="input-text form-control" name="account_email" id="account_email" autocomplete="email"
                            v-model="profile.email" type="email">
                    </p>
                    <p class="col-md-12">
                        <label for="account_phone">Phone nubmer</label>
                        <br>
                        <input class="input-text form-control" name="account_phone" id="account_phone" autocomplete="email"
                            v-model="profile.phone_number" type="text">
                    </p>
                    <p class="col-md-12">
                        <label for="account_email">Address</label>
                        <br>
                        <textarea class="input-text form-control" name="account_email" id="account_email" autocomplete="email"
                            v-model="profile.address" type="text"></textarea>
                    </p>
                    <h4 class="col-md-12">Password change</h4>
                    <p class="col-md-12">
                        <label for="password_current">Current password (leave blank to leave unchanged)</label>
                        <br>
                        <input class="input-text form-control" name="password_current" id="password_current"
                            autocomplete="off" type="password">
                    </p>
                    <p class="col-md-12">
                        <label for="password_1">New password (leave blank to leave unchanged)</label>
                        <br>
                        <input class="input-text form-control" name="password_1" id="password_new" autocomplete="off" type="password">
                    </p>
                    <p class="col-md-12">
                        <label for="password_2">Confirm new password</label>
                        <br>
                        <input class="input-text form-control" name="password_2" id="password_confirm" autocomplete="off" type="password">
                    </p>
                            <br>
                    <div class="col-md-12">
                        <button type="submit" 
                          class="btn btn-success" 
                          name="save_account_details">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { FETCH_PROFILE, EDIT_PROFILE } from '../store/modules/user/mutation-type.js';
import FileUpload from '@/services/upload'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
  data() {
    return {
        base_url: 'http://localhost:3000/',
        main_photo: null,
        uploadedFiles: [],
        uploadError: null,
        currentStatus: null,
        uploadFieldName: 'main_photo'
    };
  },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
    ...mapGetters({
      profile: 'profile',
    })
  },
  mounted () {
    this.fetch()
    this.reset()
  },
  methods: {
    fetch() {
      this.$store.dispatch(FETCH_PROFILE, 'me')
    },
    onChange(profile) {
      this.$store.dispatch(EDIT_PROFILE, profile)
    }, 
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    save(formData) {
      // upload data to the server
      this.currentStatus = STATUS_SAVING;
      FileUpload.upload(this.id, formData)
        .then(({data}) => {
          this.main_photo = data.main_photo
          this.profile.photo_link = this.main_photo
          this.uploadedFiles = [].concat(data.main_photo);
          this.currentStatus = STATUS_SUCCESS;
        })
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      const formData = new FormData();
      if (!fileList.length) return;
      // append the files to FormData
      
      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });
      // save it
      this.save(formData);
    }
  }
};
</script>



