<template>
  <div class="shopping-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2>Shopping Cart</h2>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <div class="product" v-for="item in cart" :key="item.id">
                <div class="row">
                  <div class="col-md-3">
                    <img class="img-fluid mx-auto d-block image" :src="item.image">
                  </div>
                  <div class="col-md-8">
                    <div class="info">
                      <div class="row">
                        <div class="col-md-5 product-name">
                          <div class="product-name">
                            <a href="#">{{item.name}}</a>
                          </div>
                        </div>
                        <div class="col-md-4 quantity">
                          <label for="quantity">Quantity:</label>
                          <br>
                          <button class="btn btn-outline-info quantity-input" @click="action('min', item)">-</button>
                          <span class="inline-block w-8">{{ item.qty }}</span>
                          <button class="btn btn-outline-info quantity-input" @click="action('max', item)">+</button>                     
                        </div>
                        <div class="col-md-3 price">
                          <span>{{item.subtotal}}</span>
                          <button class="btn btn-outline-danger btn-sm" @click="action('clear', item)">&times;</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Summary</h3>
              <div class="summary-item"><span class="text">Subtotal</span><span class="price">{{ cartTotal }}</span></div>
              <div class="summary-item"><span class="text">Discount</span><span class="price">0</span></div>
              <div class="summary-item"><span class="text">Shipping</span><span class="price">0</span></div>
              <div class="summary-item"><span class="text">Total</span><span class="price">{{ cartTotal }}</span></div>
              <button type="button" class="btn btn-primary btn-lg btn-block">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container max-w-xl mx-auto mb-4">
    <div class="bg-white p-6" v-if="cart.length == 0">
      <p>Your cart is empty</p>
    </div>
    <div class="bg-white rounded box-shadow p-4" v-else>
      <table class="table-fixed w-full border border-grey-light text-center">
        <thead>
          <tr class="bg-grey-light uppercase text-sm">
            <th></th>
            <th class="px-2 py-3 text-left">Product</th>
            <th class="px-2 py-3">Price</th>
            <th class="px-2 py-3">Quantity</th>
            <th class="px-2 py-3">Sub Total</th>
            <th class="px-2 py-3"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in cart" :key="item.id" class="border shadow">
            <td class="p-2"><img :src="item.image" alt="" class="w-16"></td>
            <td class="p-2 text-left">{{ item.name }}</td>
            <td class="p-2">{{ item.price | currency }}</td>
            <td class="p-2">
              <button class="inline-block px-2" @click="action('min', item)">-</button>
              <span class="inline-block w-8">{{ item.qty }}</span>
              <button class="inline-block px-2" @click="action('max', item)">+</button>
            </td>
            <td class="p-2">{{ item.subtotal | currency }}</td>
            <td class="p-2">
              <button class="px-2" @click="action('clear', item)">&times;</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 class="text-right text-xl mt-4">Total: {{ cartTotal | currency }}</h4> 
    </div>
  </div> -->
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      cart: 'getCart',
      cartTotal: 'getCartTotal'
    })
  },
  methods: {
    ...mapActions(['incrementCart', 'decrementCart']),
    action(event, item) {
      switch (event) {
        case 'max':
          this.incrementCart(item);
          localStorage.setItem('cart', JSON.stringify(this.cart));
          break;
        case 'min':
          this.decrementCart(item);
          localStorage.setItem('cart', JSON.stringify(this.cart));

          if (item.qty === 0) {
            this.clearFromCart(item);
          }

          break;
        case 'clear':
          this.clearFromCart(item);
          break;
        default:
          break;
      }
    },
    clearFromCart(product) {
      let item = this.cart.find(item => {
        return item.id === product.id;
      });
      let index = this.cart.indexOf(item);
      this.cart.splice(index, 1);
      localStorage.setItem('cart', JSON.stringify(this.cart));
    }
  }
};
</script>

<style scoped>
.shopping-cart{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.shopping-cart.dark{
	background-color: #f6f6f6;
  margin-bottom: 50px;
}

.shopping-cart .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.shopping-cart .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.shopping-cart .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.shopping-cart .dark .block-heading p{
	opacity:0.8;
}

.shopping-cart .block-heading h1,
.shopping-cart .block-heading h2,
.shopping-cart .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.shopping-cart .items{
	margin: auto;
}

.shopping-cart .items .product{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .items .product .info{
	padding-top: 0px;
	text-align: center;
}

.shopping-cart .items .product .info .product-name{
	font-weight: 600;
}

.shopping-cart .items .product .info .product-name .product-info{
	font-size: 14px;
	margin-top: 15px;
}

.shopping-cart .items .product .info .product-name .product-info .value{
	font-weight: 400;
}

.shopping-cart .items .product .info .quantity {
  margin: auto;
  width: 80px;
}

.shopping-cart .quantity-input {
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
}

.shopping-cart .items .product .info .price{
	margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
 }

.shopping-cart .summary{
	border-top: 2px solid #5ea4f3;
    background-color: #f7fbff;
    height: 100%;
    padding: 30px;
}

.shopping-cart .summary h3{
	text-align: center;
	font-size: 1.3em;
	font-weight: 600;
	padding-top: 20px;
	padding-bottom: 20px;
}

.shopping-cart .summary .summary-item:not(:last-of-type){
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.shopping-cart .summary .text{
	font-size: 1em;
	font-weight: 600;
}

.shopping-cart .summary .price{
	font-size: 1em;
	float: right;
}

.shopping-cart .summary button{
	margin-top: 20px;
}

@media (min-width: 768px) {
	.shopping-cart .items .product .info {
		padding-top: 25px;
		text-align: left; 
	}

	.shopping-cart .items .product .info .price {
		font-weight: bold;
		font-size: 22px;
		top: 17px; 
	}

	.shopping-cart .items .product .info .quantity {
		text-align: center; 
	}
	.shopping-cart .items .product .info .quantity .quantity-input {
		padding: 4px 10px;
		text-align: center; 
	}
}

</style>
