<template>
  <div class="container">
    <!-- <div class="row">
      <div class="col-lg-3">
        <h1 class="my-4">Search filter</h1>
        <div class="list-group">
          <a href="#" class="list-group-item">Category 1</a>
          <a href="#" class="list-group-item">Category 2</a>
          <a href="#" class="list-group-item">Category 3</a>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4" v-for="product in products" :key="product._id">
            <Product :product="product" />
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import ProductService from '@/services/product';
import Product from '@/components/Product.vue';

export default {
  components: { Product },
  data() {
    return {
      products: [],
      currentPage: 0,
      pages: 0
    };
  },
  created() {
    ProductService.getProducts().then(res => {
      this.products = res.data
      /*this.products = res.data.products;
      this.currentPage = res.data.currentPage;
      this.pages = res.data.pages;*/
    });
  },
  methods: {
    clickHandlerPage(page) {
      ProductService.getProductsByPage(page).then(res => {
        this.products = res.data.products;
        this.currentPage = res.data.currentPage;
        this.pages = res.data.pages;
      });
    }
  }
};
</script>

<style scoped>
.container {
  margin-top: 50px;
  margin-bottom: 100px;
}
.card-footer{
  background-color: #f88624;
}
@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}
</style>
