<template>
  <div class="container max-w-sm mx-auto mt-32 text-center">
    <div class="mb-3 p-3 border border-red bg-red-light" v-if="msgError != ''">
        <span class="text-white font-semibold" v-text="msgError"></span>
    </div>
    <form class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" class="form-control" placeholder="Username" v-model="username" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" v-model="password" required>
      <button 
        class="btn btn-lg btn-primary btn-block"
        :class="{ 'opacity-75 pointer-events-none': isDisabled }"
        @click.prevent="login">Sign in</button>
    </form>
  </div>
</template>

<script>
import {AUTH_REQUEST} from '../store/modules/auth/mutation-types.js'

export default {
  data() {
    return {
      username: '',
      password: '',
      isDisabled: false,
      msgError: ''
    };
  },
  methods: {
    login: function () {
      const { username, password } = this
      this.$store.dispatch(AUTH_REQUEST, { username, password }).then(() => {
        this.$router.push('home')
      })
    }
  }
};
</script>

<style scoped>
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
</style>

