<template>
  <div>
    <div id="top-container" class="row container col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
      <div id="gallery" class="col-md-5 col-sm-6">
        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100 img-fluid" :src="currentProduct.product_photo_link" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 img-fluid" src="../assets/top-ads.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100 img-fluid" src="../assets/image-src.png" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
          </a>
          <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                  <img :src="currentProduct.product_photo_link">
              </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1">
                  <img src="../assets/top-ads.jpg">
              </li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2">
                  <img src="../assets/image-src.png">
              </li>
          </ol>
        </div>
      </div>
      <div id="product-head" class="col-md-7 col-sm-6">
        <div class="col-md-12">
          <br>
          <h2 id="product-name">{{currentProduct.product_name}}</h2>
          <hr>
        </div>
        <div class="col-md-12">
          <h3 id="product-price">{{currentProduct.product_price | currency}}</h3>
        </div>
        <div class="rating col-md-12">
          <div class="stars">
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star"></span>
            <span class="fas fa-star-half-alt"></span>
            <span class="far fa-star"></span>
            <span class="review-no">41 reviews</span>
          </div>
        </div>
        <div class="col-md-12">
          <p>มีสินค้าทั้งหมด 20 ชิ้น</p>
        </div>
        <div class="col-md-12">
          <button 
            type="button" 
            class="btn word-wrap" 
            id="cart-btn"
            @click="addToCart(currentProduct)">
            Add to Cart</button>
          <button type="button" class="btn word-wrap" id="wishlist-btn">Add to Wishlist</button>
        </div>
      </div>
    </div>
    <div id="product-detail" class="row container col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-12">
        <label>Product's Detail</label>
      <hr>
        <p id="product-detail">{{currentProduct.product_description}}</p>
    </div>
  </div>
  <!-- <div class="container max-w-xl mx-auto mb-4">
    <div class="flex bg-white p-2 shadow">
      <div class="w-1/2">
        <img :src="currentProduct.image" :alt="currentProduct.product_name" class="img-fluid">
      </div>
      <div class="w-1/2 px-2">
       
        <h2 class="text-2xl mb-2 leading-tight font-medium">{{ currentProduct.product_name }}</h2>
        <p class="text-lg font-semibold mb-3">{{ currentProduct.product_price | currency }}</p>
        <p class="text-base text-grey-darker mb-5">
          {{ currentProduct.product_description }}
        </p>
        <button 
          class="block w-full border shadow p-2 rounded hover:bg-blue-dark hover:text-white" 
          @click="addToCart(currentProduct)">
          Add To Cart
        </button>
      </div>
    </div>
  </div> -->
</template>

<script>
import ProductService from '@/services/product';
import addToCart from '@/mixins/addToCart';
import Product from '@/components/Product.vue';

export default {
  props: ['id'],
  components: { Product },
  mixins: [addToCart],
  data() {
    return {
      products: [],
      currentProduct: {}
    };
  },
  watch: {
    $route(to, from) {
      if (from.params.id !== to.params.id) {
        this.fetch();
      }
    }
  },
  created() {
    this.fetch();
  },
  methods: {
    fetch() {
      ProductService.getProductsById(this.id).then(res => {
        this.currentProduct = res.data[0];
      });
    }
  }
};
</script>

<style scoped>
body {
    background-color: #f6f7eb;
    font-family: 'Montserrat','Prompt',sans-serif;
}

.container {
    background-color: #f9f9f9;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.carousel-item {
    height:300px;
    background-repeat: no-repeat;
    overflow: hidden;
}

.carousel-item img {
    max-height: 100%;  
    max-width: 100%;
    min-width:100%; 
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    object-fit: contain;
}

.carousel-indicators img {
    margin: auto auto;
    max-height: 100%;
    object-fit: contain;
}

.carousel-control-next,
.carousel-control-prev {
    background-color:rgba(47,47,47,0.12);
}

.carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
    max-height: 20%;
}

.carousel-indicators li {
    background-color: rgba(0,0,0,0);
    border: medium none;
    border-radius: 0;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 5px !important;
    margin-top: 0;
    width: 20%;
    height: auto;
}
/* Indicators images style */
.carousel-indicators img {
    float: left;
    height: 100%;
    left: 0;
    width: 100%;
}
/* Indicators active image style */
.carousel-indicators .active img {
    filter:drop-shadow(0 -2px 0 #f86624)
    drop-shadow(0 2px 0 #f86624)
    drop-shadow(-2px 0 0 #f86624)
    drop-shadow(2px 0 0 #f86624);
}

.carousel-indicators .active{
    background-color: rgba(0,0,0,0);
}

.btn {
 margin: 2px 2px 2px 2px;
}

#cart-btn {
    color: white;
    background-color: #f29c38;
}

#wishlist-btn {
    color: white;
    background-color: #f86624;
}

.word-wrap {
    white-space:normal !important;
    word-wrap: break-word;   
}

</style>


