<template>
  <div class="container max-w-sm mx-auto mt-32 text-center">
    <div>
      <input v-model="form.username" type="text" placeholder="Username" class="base-input">
    </div>
    <div>
      <input v-model="form.email" type="text" placeholder="E-mail" class="base-input">
    </div>
    <div>
      <input v-model="form.password" type="password" placeholder="Password" class="base-input">
    </div>
    <div>
      <input v-model="form.re_password" type="password" placeholder="Confirm password" class="base-input">
    </div>
    <a @click="register" href="javascript:;" class="btn signup-btn btn-yellow">Sign up</a>
  </div>
</template>

<script>
import {showMsg} from '../utils'
import UserService from '@/services/user';

export default {
  name: 'sign-up',
  props: ['show'],
  data() {
    return {
      form: {
        username: '',
        email: '',
        password: '',
        re_password: ''
      }
    }
  },
  methods: {
    async register() {
      if (!this.form.username || !this.form.password || !this.form.email) {
        showMsg('Please complete the form')
        return
      } else if (this.form.password !== this.form.re_password) {
        showMsg('Password and comfirm password does not match')
        return 
      }
      const { code, message } = await this.$store.$api.post('user/insert', this.form)
      if (code === 200) {
        showMsg({
          type: 'success',
          content: message
        })
      }
    }
  }
};
</script>

