    /*!
    * Start Bootstrap - SB Admin v5.0.2 (https://startbootstrap.com/template-overviews/sb-admin)
    * Copyright 2013-2018 Start Bootstrap
    * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-sb-admin/blob/master/LICENSE)
    */

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
}
.navbar-nav .form-inline .input-group {
    width: 100%;
}
#header-background{
    background-color: #000000;
}
#search-bar {
    background-color: #f6f7eb;
    tranform: translate(-50%,-50%);
    margin-right: 18%;
    margin-left: 20%;
    resize: vertical;
    width: 900px;
}
#search-button{
    background-color: #f29c38;
    border-color: #f29c38;
    margin-left: -20%;
    tranform: translate(-50%,-50%);
}
#cart{
    background-color: black;
    border-color: black;
    tranform: translate(-50%,-50%);
}
#headerSignIn{
    tranform: translate(-50%,-50%);
    margin: auto 10%;
    align-self: auto;
    resize: vertical;
}
#headerRegister{
    tranform: translate(-50%,-50%);
    margin: auto 10%;
    align-self: auto;
    resize: vertical;
}
#checkbox{
    align-self: left;
}
#submit-button{
    background-color: #f6f7eb;
    margin-bottom: 2%;
    transition-duration: 0.4s;
    float: right;
}
#submit-button:hover{
    background-color: #f88624; 
}
#login-button{
    background-color: #f6f7eb;
    margin-bottom: 2%;
    transition-duration: 0.4s;
    float: right;
}
#login-button:hover{
    background-color: #f88624;
}
footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 90px);
    height: 80px;
    background-color: #000000;
}
footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}
@media (min-width: 250px) { /*footer size*/
    footer.sticky-footer {
        width: 100%;
    }
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top:  0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close {
    margin: 0 0 0 0 !important;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color:white;
    text-decoration-color: white;
    cursor: pointer;
}
/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #000000;
    color: #f88624;
}
.modal-body {
    padding: 2px 16px;
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #f6f7eb;
    text-align: center;
    margin: 5% 35%;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}
.input{
    tranform: translate(-50%,-50%);
    margin: 25px auto;
    align-self: auto;
    border-radius: 10px;
    resize: vertical;
    width: 81%;
    height: 50px;
}
.cancel-button{
    background-color: #f6f7eb;
    color:red; 
    transition-duration: 0.4s;
    float: right;
}
.cancel-button:hover{
    background-color: red;
    color: black;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}