body {
    background: #F9F9F9;
}
.more-col {
    margin: auto;
    text-align: center;
}

#recommend-container {
    margin-top: 10px;
    margin-bottom: 5px;
}

#creator-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

#product-container {
    border: black;
    border-width: 1px;
    display: block;
}

.label {
    font-size: 1.5rem;
}

.word-wrap {
    white-space:normal !important;
    word-wrap: break-word;
}
