body {
    background-color: #f9f9f9;
}

#menu-label {
    margin: auto auto auto auto;
}

#main-container {
    margin-top: 10px;
}

#left-menu-group {
    text-align: center;
    background-color: #fefefe;
    border: 1px;
    outline-style: solid;
    outline-color: #f5f5f5;
}

.left-menu-btn{
    background-color: #fefefe;
    text-align: left;
    align-self: left;
    white-space:normal !important;
    word-wrap: break-word;
}

#profile-head {
    margin-left: 5px;
    background-color: #fefefe;
    border: 1px;
    outline-style: solid;
    outline-color: #f5f5f5;
    padding:10px;
}

.span4 img {
    margin-right: 10px;
}

#profile-picture {
    float:left;
}

#username {
    text-align: left;
    margin-left: 10px;
    font-size: 2rem;
    padding-top: 25px;
    padding-bottom: 25px;
}

