<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:black">
      <router-link 
        tag="a"
        :to="{ name: 'home' }"
        class="navbar-brand">
        <img src="../assets/boardhub_verticle_icon.png" style="width:200px">
      </router-link>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="mr-2" style="width: 75%">
        <ul class="navbar-nav">
            <input id="search-bar" class="form-control mr-sm-1" type="search" placeholder="Search for.." style="width:225%;min-width: 40px;">
            <button id="search-button" class="btn my-2 my-sm-0" type="submit"><img src="../assets/search-button.png"></button>
        </ul>
        </div>
        <!-- <button id="cart-button" class="btn" type="button"><img src="../assets/shopping-cart.png"></button> -->
        <router-link 
          tag="a" 
          :to = "{name: 'checkout'}" 
          class="inline-block no-underline p-3 text-white text-capitalize">
          <span>Cart</span>
          (<span class="badge badge">{{ getCart.length }}</span>)
        </router-link>
        <router-link 
          tag="a" 
          :to="{ name: 'login' }" 
          v-if="!isAuthenticated && !authLoading"
          class="inline-block no-underline p-3 text-grey-dark text-capitalize">
          Login
        </router-link>
        <router-link 
          tag="a" 
          :to="{ name: 'register' }" 
          v-if="!isAuthenticated"
          class="inline-block no-underline p-3 text-grey-dark text-capitalize">
          Register
        </router-link>
        <a 
          href="#"
          v-if="isAuthenticated"
          class="inline-block no-underline p-3 text-grey-dark text-capitalize"
          @click.prevent="logout">
          Logout
        </a>
        <router-link 
          tag="a"
          :to="{ name: 'profile' }"
          v-if="isAuthenticated"
          class="inline-block no-underline p-3 text-grey-dark text-capitalize">
          {{name}}
        </router-link>
        <h2 id="header"></h2>
      </div>
    </nav>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import {AUTH_REQUEST, AUTH_LOGOUT} from '../store/modules/auth/mutation-types.js'

export default {
  computed: {
    ...mapGetters([
      'getCart',
      'getProfile',
      'isAuthenticated',
      'isProfileLoaded'
    ]),
    ...mapState({
      authLoading: state => state.auth.status === 'loading',
      name: state => `${state.user.profile.username}`,
      authLoading: state => state.auth.status === 'loading',
    })
  },
  methods: {
    logout: function() {
      this.$store.dispatch(AUTH_LOGOUT).then(() => this.$router.push('home'))
    }
  }
};
</script>

<style scope>
footer.sticky-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
}
footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}
.icon{
    font-size: 15px;
    color:#f6f7eb !important;
}
.icon img{
    width: 10%;
    height: auto;
    margin-right: 0%;
    margin-bot: 5%;
    display: inline-block;
}
#cart-button{
    background-color: #f88624;
    border-color: #f88624;
    height:38px ;
    width: auto;
}
#search-button{
    background-color: #f88624;
    border-color: #f88624;
    height:38px ;
    width: auto;
}
#cart-button img{
    height: 42px;
    width: 38px;
}
#logo-brand{
    width: 200px;
    height: auto;
}
.header{
    background-color: black;
}
#headerSignIn{
    margin: auto 10%;
    align-self: auto;
    resize: vertical;
}
#headerRegister{
    margin: auto 10%;
    align-self: auto;
    resize: vertical;
}
#checkbox{
    align-self: left;
}
#submit-button{
    background-color: #f6f7eb;
    margin-bottom: 2%;
    transition-duration: 0.2s;
    float: right;
}
#submit-button:hover{
    background-color: #f88624; 
}
#login-button{
    background-color: #f6f7eb;
    margin-bottom: 2%;
    transition-duration: 0.2s;
    float: right;
}
#login-button:hover{
    background-color: #f88624;
}
#forgetpwd{
    color: red;
    float: right;
    margin-right: 11%;
}
#dont-have-account{
    float:left;
    margin-left: 9%;
}
/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
</style>

