<template>
  <div>
    <div class="card h-100">
      <router-link 
        tag="a" 
        :to="{ name: 'product', params: { id: product.product_id } }" 
        class="card-img-top">
        <img :src="product.product_photo_link" :alt="product.product_name" width="400px" height="300px" />
      </router-link>
      <div class="card-body">
        <h4 class="card-title">
          <router-link 
            tag="a" 
            :to="{ name: 'product', params: { id: product.product_id } }" 
            class="card-img-top">
            <small>{{product.product_name}}</small>
          </router-link>
        </h4>
        <h5>{{product.product_price | currency}}</h5>
        <button 
          type="button" 
          class="btn btn-primary btn-lg btn-block"
          @click="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
  <!-- <div>
    <router-link tag="a" :to="{ name: 'product', params: { id: product.product_id } }" class="block">
      <img :src="product.product_photo_link" :alt="product.product_name">
    </router-link>
    <div class="p-3">
      <h3 class="text-lg mb-1 leading-tight font-medium">{{ product.product_name }}</h3>
      <p class="font-semibold text-md mb-2">{{ product.product_price | currency }}</p>
      <p class="text-sm text-grey-darker mb-2">{{ product.product_description.substring(0, 50) }}</p>
      <button 
        class="block w-full border shadow p-2 rounded mt-2 hover:bg-blue-dark hover:text-white" 
        @click="addToCart(product)">
        Add To Cart
      </button>
    </div>
  </div> -->
</template>

<script>
import addToCart from '@/mixins/addToCart';

export default {
  props: ['product'],
  mixins: [addToCart]
};
</script>

<style scoped>
.card-img-top img {
  width: 100%
}
</style>

