<template>
  <b-container fluid>
    <!-- <input type="text" v-model="search" placeholder="Search username.."> -->
    <b-input-group prepend="Search">
            <b-form-input type="text"
                  placeholder="Search username..."
                  v-model="search"></b-form-input>
    </b-input-group>
    <table class="table mb-none hover" id="datatable-editable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Name</th>
          <th>Role</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <user-item v-for="user in userFilter" :key="user.id" :user="user"></user-item>
        <!-- <tr v-for="user in userFilter" :key="user.id">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.first_name}} {{user.last_name}}</td>
          <td>{{user.email}}</td>
          <td>

          </td>
          <td>
            <button class="btn btn-danger" @click="deleteUser(user.username, user)">remove</button>
          </td>
        </tr> -->
      </tbody>
    </table>
  </b-container>
</template>

<script>
import { DELETE_USER } from '../store/modules/user/mutation-type';
import { mapGetters } from 'vuex';
import UserItem from '@/components/BackendUserListItem'

export default {
  components: {
    UserItem
  },
  data() {
    return {
      search: '',

    };
  },
  computed: {
    ...mapGetters({
      users: 'userList'
    }),
    userFilter() {
      return this.users.filter(user => {
        return user.username.toLowerCase().includes(this.search.toLowerCase())
      })
    },

  },
  methods: {
    deleteUser: function(username, user) {
      this.$store.dispatch(DELETE_USER, username)
        .then((res) => {
          let index = this.users.indexOf(user)
          this.users.splice(index, 1)
        })
    }
  }
};
</script>