<template>
  <b-modal :id="'ship'+order.id" size="lg" hide-footer lazy centered>
    <div slot="modal-title">
      #{{order.id}} Shipment
    </div>
    <b-container>
      <b-container>
        <table class="table mb-none">
          <thead>
            <th>Product</th>
            <th>Tracking</th>
          </thead>
          <tbody>
            <tr v-for="(item, index) in cart" :key="item.id">
              <td>{{item.product.name}}</td>
              <td>
                 <b-row class="my-1">
                  <b-col sm="5">
                    <b-form-input type="text"
                              placeholder="Tracking ID"
                              v-model="track_id[index]"></b-form-input>
                    </b-col>
                  <b-col sm="2">
                   <b-btn variant="primary" @click="regisItem(item.id, track_id[index])">Add</b-btn>
                  </b-col>
                </b-row>
              </td>
            </tr>
          </tbody>
        </table>
      </b-container>
    </b-container>
    
  </b-modal>
</template>

<script>
import { mapGetters } from 'vuex';
import { REGIS_ITEM } from '../store/modules/order/mutation-types';

export default {
  name: 'order-modal',
  props: ['order', 'cart', 'confirmInvoice'],
  computed: {

  },
  mounted() {
  },
  data () {
    return {
      track_id: [],
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }
  },
  methods: {
    regisItem(orderProductId, track_id) {
      this.$store.dispatch(REGIS_ITEM, {
        tracking: track_id,
        orderProductId: orderProductId
      })
      .then(() => {
        this.$toastr.success('Add tracking id successfully', 'Success', this.toastrOption);
      })
      //.then(() => this.$router.go(0))
    }
  }
}
</script>

<style scoped>
.container {
  margin-top: 0px;
  padding: 0px;
}
</style>