<template>
  <b-modal :id="'product'+product.id" size="lg" hide-footer centered>
    <div slot="modal-title">
      Edit Product
    </div>
    <b-container fluid>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Name:</label></b-col>
        <b-col sm="10">
          <b-form-input id="name" type="text" v-model="product.name"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Type:</label></b-col>
        <b-col sm="10">
          <b-form-input id="type" type="text" v-model="product.type"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Min player:</label></b-col>
        <b-col sm="10">
          <b-form-input id="name" type="text" v-model="product.min_player"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="name" v-model="product.max_player">Max player:</label></b-col>
        <b-col sm="10">
          <b-form-input id="name" type="text"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="description">Description:</label></b-col>
        <b-col sm="10">
          <b-form-textarea id="textarea1"
                      :rows="4"
                      :max-rows="6"
                      v-model="product.description">
          </b-form-textarea>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Duration:</label></b-col>
        <b-col sm="10">
          <b-form-input id="duration" type="text" v-model="product.duration"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Price:</label></b-col>
        <b-col sm="10">
          <b-form-input id="duration" type="text" v-model="product.price"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Quantity:</label></b-col>
        <b-col sm="10">
          <b-form-input id="duration" type="text" v-model="product.quantity"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Picture:</label></b-col>
        <b-col sm="10">
          <b-form-file  placeholder="Choose a file..."
                        v-model="main_photo"
                        accept="image/*"></b-form-file>
          <b-btn @click="onUpload">Upload</b-btn>
          <b-img fluid :src="product.main_photo"></b-img>
        </b-col>
      </b-row>
      <b-btn variant="success" @click="onPublish(product)">Save</b-btn>
    </b-container>
  </b-modal>
</template>

<script>
import FileUpload from '@/services/upload'
import { FETCH_PRODUCT, EDIT_PRODUCT } from '../store/modules/product/mutation-types';
import { mapGetters } from 'vuex';


export default {
  name: 'edit-product',
  props: ['product'],
  data() {
    return {
      main_photo: null,
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    };
  },
  computed: {
  },
  mounted () {
  },
  methods: {
    onPublish(product) {
      this.$store.dispatch(EDIT_PRODUCT, product)
        .then(() => {
          this.$toastr.success('This product has changed', 'Success', this.toastrOption);
        })
    },
    onUpload() {
      const fd = new FormData()
      fd.append('main_photo', this.main_photo, this.main_photo.name)
      FileUpload.uploadProduct(fd)
        .then(({data}) => {
          this.product.main_photo = data.main_photo
        })
        .then(() => this.$router.go(0))
    }
  }
};
</script>