<template>
  <b-modal :id="'addProduct'+id" size="lg" hide-footer centered>
    <div slot="modal-title">
      Add Product
    </div>
    <b-container fluid>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Name:</label></b-col>
        <b-col sm="10">
          <b-form-input id="name" type="text" v-model="product.name"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Type:</label></b-col>
        <b-col sm="10">
          <b-form-input id="type" type="text" v-model="product.type"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Min player:</label></b-col>
        <b-col sm="10">
          <b-form-input id="name" type="text" v-model="product.min_player"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="name">Max player:</label></b-col>
        <b-col sm="10">
          <b-form-input id="name" type="text" v-model="product.max_player"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="description">Description:</label></b-col>
        <b-col sm="10">
          <b-form-textarea id="textarea1"
                     v-model="product.description"
                     :rows="3"
                     :max-rows="6">
          </b-form-textarea>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Duration:</label></b-col>
        <b-col sm="10">
          <b-form-input id="duration" type="text" v-model="product.duration"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Price:</label></b-col>
        <b-col sm="10">
          <b-form-input id="duration" type="text" v-model="product.price"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Quantity:</label></b-col>
        <b-col sm="10">
          <b-form-input id="duration" type="text" v-model="product.quantity"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="my-1">
        <b-col sm="2"><label for="duration">Picture:</label></b-col>
        <b-col sm="10">
          <b-form-file  placeholder="Choose a file..."
                        v-model="main_photo"
                        accept="image/*"></b-form-file>
          <b-btn @click="onUpload">Upload</b-btn>
          <b-img fluid :src="product.main_photo"></b-img>
        </b-col>
      </b-row>
      <b-btn variant="success" @click="onPublish(product)">Add</b-btn>
    </b-container>
  </b-modal>
</template>

<script>
import FileUpload from '@/services/upload'
import { PUBLISH_PRODUCT } from '../store/modules/product/mutation-types.js'

export default {
  name: 'add-product',
  props: ['id'],
  data() {
    return {
      main_photo: null,
      photos: [],
      product: {
        name: '',
        type: '',
        min_player: '',
        max_player: '',
        duration: '',
        description: '',
        price: '',
        quantity: '',
        main_photo: '',
      },
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    };
  },
  computed: {
  },
  mounted () {
  },
  methods: {
    onPublish(product) {
      this.$store.dispatch(PUBLISH_PRODUCT, product)
        .then((res) => {
          this.$toastr.success('Add new product successfully', 'Success', this.toastrOption);
          this.$router.push({ name: 'backend' })
        })
    },
    onUpload() {
      const fd = new FormData()
      fd.append('main_photo', this.main_photo, this.main_photo.name)
      FileUpload.uploadProduct(fd)
        .then(({data}) => {
          this.product.main_photo = data.main_photo
        })
        .then(() => {
          this.$ref.addProduct.hide()
        })
    }
  }
};
</script>