<template>
  <tr>
    <td>{{user.id}}</td>
    <td>
      {{user.username}}
    </td>
    <td>{{user.first_name}} {{user.last_name}}</td>
    <td>
      <b-form-select v-model="selected" :options="options"></b-form-select>
    </td>
    <td>
      <b-btn variant="success" @click="updateRole">save</b-btn>
      <b-btn variant="danger" @click="deleteUser(user.username, user)">remove</b-btn>
      <!-- <button class="btn btn-danger" @click="deleteUser(user.id, user)">remove</button> -->

    </td>
  </tr> 
</template>

<script>
import { DELETE_USER, CHANGE_ROLE } from '../store/modules/user/mutation-type';
import { mapGetters } from 'vuex';

export default {
  props: ['user'],
  computed: {
    ...mapGetters({
      users: 'userList'
    }),
  },
  data () {
    return {
      selected: this.user.role,
      options: [
        {value: 'admin', text: 'Admin'},
        {value: 'creator', text: 'Creator'},
        {value: 'user', text: 'User'}
      ],
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }
  },
  methods: {
    updateRole() {
      const profile = {
        username: this.user.username,
        role: this.selected
      }
      this.$store.dispatch(CHANGE_ROLE, profile)
        .then(() => {
          this.$toastr.success(this.user.username + ' has changed to ' + this.selected, 'Success', this.toastrOption);
        })
    },
    deleteUser: function(username, user) {
      this.$store.dispatch(DELETE_USER, username)
        .then((res) => {
          this.$toastr.success('Remove ' + username + ' successfully', 'Success', this.toastrOption);
          let index = this.users.indexOf(user)
          this.users.splice(index, 1)
        })
    }
  }
}

</script>