<template>
  <b-container fluid>
    <table class="table mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>Order Id</th>
          <th>Customer</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="order in ref2" :key="order.id">
          <td>{{order.order.id}}</td>
          <td>
            <b-link :to="{ name: 'user-profile', params: { username: userOrder(order.order.userId)}}">
              {{userOrder(order.order.userId)}}
            </b-link>
          </td>
          <td>
            <b-btn variant="danger">unpaid</b-btn>
          </td>
        </tr>
        <tr v-for="order in ref3" :key="order.id">
          <td>{{order.order.id}}</td>
          <td>
            <b-link :to="{ name: 'user-profile', params: { username: userOrder(order.order.userId)}}">
              {{userOrder(order.order.userId)}}
            </b-link>
          </td>
          <td>
            <b-btn>paid</b-btn>
          </td>
          <td>
            <b-btn  v-b-modal="modalId('cship',order.order.id)" 
                    @click="action(order.order.id)">shipment</b-btn>
            <ship-modal :order="order" :cart="cart_order" :confirmInvoice="confirm"></ship-modal>
          </td>
        </tr>
        <tr v-for="order in ref4" :key="order.id">
          <td>{{order.order.id}}</td>
          <td>
            <b-link :to="{ name: 'user-profile', params: { username: userOrder(order.order.userId)}}">
              {{userOrder(order.order.userId)}}
            </b-link>
          </td>
          <td>
            <b-btn variant="primary">shipping</b-btn>
          </td>
        </tr>
        <tr v-for="order in ref5" :key="order.id">
          <td>{{order.order.id}}</td>
          <td>
            <b-link :to="{ name: 'user-profile', params: { username: userOrder(order.order.userId)}}">
              {{userOrder(order.order.userId)}}
            </b-link>
          </td>
          <td>
            <b-btn variant="success">completed</b-btn>
          </td>
        </tr>
      </tbody>
    </table>
  </b-container>
</template>

<script>
import ShipModal from '@/components/CreatorOrderShipModal'
import { GET_ORDER_CART } from '../store/modules/cart/mutation-types';
import { mapGetters } from 'vuex';
import { GET_COMFIRM, GET_BY_REF } from '../store/modules/order/mutation-types';
import { FETCH_USER_LIST } from '../store/modules/user/mutation-type';

export default {
  components: {
    ShipModal
  },
  computed: {
    ...mapGetters({
      orders: 'orders',
      users: 'userList',
      cart_order: 'cart_order',
      confirm: 'confirm',
      ref2: 'ref2',
      ref3: 'ref3',
      ref4: 'ref4',
      ref5: 'ref5'
    }),
  },
  mounted () {
    for (let i = 2; i <= 5; i++) {
      this.getRef(i)
    }
    this.getList()
  },
  methods: {
    userOrder(id) {
      const user = this.users.find( function(el) {
        return el.id === id
      })
      return user.username
    },
    modalId(txt,i) {
      return txt + i
    },
    action(id) {
      this.getItem(id)
      this.getConfirm(id)
    },
    getItem(id) {
      this.$store.dispatch(GET_ORDER_CART, id)
    },
    getConfirm(id) {
      this.$store.dispatch(GET_COMFIRM, id)
    },
    getRef(id) {
      this.$store.dispatch(GET_BY_REF, id)
    },
    getList() {
      this.$store.dispatch(FETCH_USER_LIST)
    },
  }
}
</script>