<template>
  <b-container fluid>
    <b-btn variant="success" v-b-modal.addProduct1>Add Product</b-btn>
    <add-product id="1"></add-product>
    <!-- <input type="text" v-model="search" placeholder="Search username.."> -->
    <b-input-group prepend="Search" class="my-1">
            <b-form-input type="text"
                  placeholder="Search product..."
                  v-model="search"></b-form-input>
    </b-input-group>
    <table class="table mb-none" id="datatable-editable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Amount</th>
          <th>Author</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in productFilter" :key="product.id">
          <!-- {{product}} -->
          <td>
            <router-link 
              tag="a"
              :to="{ name: 'product', params: {id: product.id} }">{{product.name}}</router-link>
          </td>
          <td>{{product.price}}</td>
          <td>{{product.quantity}}</td>
          <td>{{product.create_by}}</td>
          <td>
            <b-btn variant="success" v-b-modal="productModal(product.id)" @click="action(product.id)">edit</b-btn>
            <!-- <router-link 
              :to="{ name: 'edit-product', params: {id: product.id} }"><button class="btn btn-success">edit</button></router-link> -->
            <button class="btn btn-danger" @click="deleteProduct(product.id, product)">remove</button>
            <edit-product :product="product"></edit-product>
          </td>
        </tr>
      </tbody>
    </table>
    
  </b-container>
</template>

<script>
import AddProduct from '@/components/BackendProductInsert'
import EditProduct from '@/components/BackendProductEditModal'
import { GET_DETAIL } from '../store/modules/user/mutation-type.js'
import { FETCH_PRODUCT_LIST, DELETE_PRODUCT, FETCH_PRODUCT } from '../store/modules/product/mutation-types.js';
import { mapGetters } from 'vuex';

export default {
  components: {
    AddProduct,
    EditProduct
  },
  data() {
    return {
      search: '',
      page: 1,
      perPage: 10,
      pages: [],
      creatorProducts: [],
      addProduct: 'creator'
    };
  },
  computed: {
    ...mapGetters({
      user: 'currentUser',
      products: 'products',
      product: 'product',
      detail: 'detail'
    }),
    productFilter() {
      return this.creatorProducts.filter(product => {
        return product.name.toLowerCase().includes(this.search.toLowerCase())
      })
    },
    displayedPosts() {
      return this.paginate(this.products)
    },
    getAuthor(id) {
      this.$store.dispatch(GET_DETAIL, id)
        .then(({data}) => {
          return this.detail
        })
    }
  },
  mounted() {
    this.fetchProduct()
  },
  watch: {
    products () {
      this.setPages()
    }
  },
  methods: {
    action(id) {
      this.fetch(id)
    },
    productModal(i) {
      return 'product' + i
    },
    fetchProduct: function() {
      this.$store.dispatch(FETCH_PRODUCT_LIST)
        .then(() => {
          this.creatorProducts = this.products.filter(product => {
            return product.create_by === this.user.id
          })
        })
        //console.log(this.creatorProducts)
    },
    fetch(id) {
      this.$store.dispatch(FETCH_PRODUCT, id)
    },
    deleteProduct: function(id, product) {
      this.$store.dispatch(DELETE_PRODUCT, id)
        .then((res) => {
          let index = this.products.indexOf(product)
          this.products.splice(index, 1)
        })
    },
    setPages() {
      let numberOfPages = Math.ceil(this.products.length / this.perPage)
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index)
      }
    },
    paginate(products) {
      let page = this.page
      let perPage = this.perPage
      let from = (page * perPage) - perPage
      let to = (page * perPage)
      return product.slice(from, to)
    }
  }
};
</script>
