<template>
  <div>
    <footer class="sticky-footer">
      <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span style="color:#f6f7eb">Copyright © Sukumaro 2018 Software Engineering Project</span>
      </div>
      </div>
    </footer>
  </div>
</template>

<style scoped>
footer.sticky-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: -3em;
  background-color: #000000;
}
footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
}
</style>

