<template>
  <b-container class="shadow-sm p-3 mb-5 bg-white rounded">
    <!-- {{filterdList}} -->
    <b-row>
      <b-col>
        <b-form-input v-model="search"
                  type="text"></b-form-input>
      </b-col>
      <b-col>
        <b-btn>Search</b-btn>
      </b-col>
    </b-row>
    
    <!-- <b-btn v-b-modal.searchAdvance >Advance</b-btn>
    <b-form-input v-model="search"
                type="text"
                placeholder="Search product..."></b-form-input>
    <b-form-input v-model="customFilter.min_price"
                  type="text"
                  placeholder="Enter min price"></b-form-input>
    <b-form-input v-model="customFilter.max_price"
                  type="text"
                  placeholder="Enter max price"></b-form-input>

    <b-btn>Search</b-btn> -->
    <!-- {{searchFilter}} -->
    <div class="album py-5 bg-light">
      <div class="container" v-cloak>
        <div class="row">
          <div class="col-md-4" v-for="product in displayedProducts" :key="product.id">
            <div class="card mb-4 box-shadow post-cards">
              <b-link :to="{name: 'product', params: { id: product.id }}">
                <product-preview :product="product"></product-preview>
              </b-link>
            </div>
          </div>
        </div>
        
        <div class="clearfix btn-group col-md-2 offset-md-5">
          <div v-if="filterdList.length !== 0">
            <b-pagination size="md" :total-rows="filterdList.length" v-model="page" :per-page="9"></b-pagination>
          </div>
          <div v-else>
            <p>No product found</p>
          </div>
        </div>
      </div>
    </div>
  </b-container>
  
</template>

<script>
import { mapGetters } from 'vuex';
import { FETCH_PRODUCT_LIST } from '../store/modules/product/mutation-types.js'

import ProductPreview from '@/components/ProductPreview'

export default {
  components: {
    ProductPreview,
  },
  data: function () {
    return {
      search: '',
      customFilter: {
        min_price: 0,
        max_price: 2000,
        min_player: '',
        max_player: '',
        tag: ''
      },
      page: 1,
      perPage: 9,
      pages: [],
    }
  },
  computed: {
    ...mapGetters({
      products: 'products'
    }),
    filterdList() {
       return this.products
                .filter(product => {
                  return product.name.toLowerCase().includes(this.search.toLowerCase())
                 })
                 .filter(product => {
                   return product.price >= this.customFilter.min_price && product.price <= this.customFilter.max_price
                 })
    },
    displayedProducts() {
      return this.paginate(this.filterdList)
    }
  },
  watch: {
    products () {
      this.setPages()
    }
  },
  mounted() {
    this.getProductList()
  },
  methods: {
    getProductList() {
      this.$store.dispatch(FETCH_PRODUCT_LIST)
    },
    setPages () {
      let numberOfPages = Math.ceil(this.products.length / this.perPage)
      for (let index = 1; index <= numberOfPages; index++) {
        this.pages.push(index)
      }
    },
    paginate (products) {
      let page = this.page
      let perPage = this.perPage
      let from = (page * perPage) - perPage
      let to = (page * perPage)
      return products.slice(from, to)
    }
  }
}
</script>

<style scoped>
.card-deck .card {
    max-width: calc(100% - 30px);
}
</style>
