<template>
  <b-modal :id="'image'+order.id" hide-footer lazy centered>
    <div slot="modal-title">
      #{{order.id}} Upload invoice
    </div>
    <div>
      <!-- <b-img src="https://picsum.photos/1024/400/?image=41" center fluid-grow></b-img> -->
      <b-form-file v-model="file" placeholder="Choose a file..." name="photo"></b-form-file>
      <!-- <input type="file" @change="onFileSelected" name="photo"> -->
      <b-img fluid :src="confirm.photo"></b-img>
      <div class="my-2">
        <b-btn @click="upload">Upload</b-btn>
        <b-btn variant="success" @click="addConfirmation">Confirm</b-btn>
      </div>
      
    </div>
    
  </b-modal>
</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex';
import { ADD_COMFIRM } from '../store/modules/order/mutation-types';
import FileUpload from '@/services/upload'

export default {
  name: 'order-modal',
  props: ['order', 'invoice'],
  computed: {
  },
  mounted () {
    
  },
  data () {
    return {
      file: null,
      confirm: {
        invoiceId: this.invoice.id,
        photo: null
      },
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    };
  },
  methods: {
    onFileSelected(event) {
      this.file = event.target.file
    },
    upload() {
      const fd = new FormData()
      fd.append('photo', this.file, this.file.name)
      FileUpload.uploadConfirm(fd)
        .then(({data}) => {
          this.confirm.photo = data.link
        })
    },
    addConfirmation() {
      this.confirm.invoiceId = this.invoice.id
      this.$store.dispatch(ADD_COMFIRM, this.confirm)
        .then(() => {
          this.$toastr.success('Add comfirmation success', 'Success', this.toastrOption);
          //this.$router.go(0)
        })
        .then(() => {
          
          //this.$router.go(0)
        })
    }
  }
}
</script>