<template>
  <tr>
    <!-- {{shipment.orderProducts.length}} -->
    <td><b-img :src="product.main_photo" width="50" height="50"></b-img></td>
    <td>{{product.name}}</td>
    <td>
      <b-link :href="'http://emsbot.com/#/?s='+shipment.tracking_id" target="_blank">{{shipment.tracking_id}}</b-link>
    </td>
    <!-- <td>{{shipment.tracking_id}}</td> -->
    <td>
      <b-btn variant="danger" v-if="shipment.refShipmentStatusId === 1">{{shipment.refShipmentStatus.description}}</b-btn>
      <b-btn variant="success" v-if="shipment.refShipmentStatusId === 2">{{shipment.refShipmentStatus.description}}</b-btn>
    </td>
    <td>
      <b-btn variant="success" v-if="shipment.refShipmentStatusId === 1" @click="confirmShipment">Confirm</b-btn>
    </td>
  </tr>
</template>

<script>
import { mapGetters } from 'vuex';
import { CONFIRM_SHIPMENT } from '../store/modules/order/mutation-types.js';
import { FETCH_PRODUCT } from '../store/modules/product/mutation-types.js'
import ProductService from '@/services/product'

export default {
  name: 'shipping-item',
  props: ['shipment'],
  computed: {
    /* ...mapGetters({
      product: 'product'
    }) */
  },
  mounted () {
    this.getProduct()
  },
  data () {
    return {
      product: null,
      toastrOption: {
        "closeButton": false,
        "debug": false,
        "newestOnTop": true,
        "progressBar": false,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "3000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
      }
    }
  },
  methods: {
    getProduct() {
      ProductService.getProductsById(this.shipment.orderProducts[0].productId)
        .then(({data}) => {
          this.product = data
        })
    },
    confirmShipment() {
      this.$store.dispatch(CONFIRM_SHIPMENT, {id: this.shipment.id})
        .then(() => {
          this.$toastr.success('This shipment has been comfirmed', 'Success', this.toastrOption);
          //this.$router.go(0)
        })
    }
  }
}
</script>