<template>
  <tr class="cart_table_item">
    <td class="product-name">
      <router-link 
        tag="a"
        :to="{ name: 'product', params: { id: item.product.id } }">{{ item.product.name }}</router-link>
    </td>
    <td class="product-price">
      <span class="amount">${{item.product.price}}</span>
    </td>
    <td class="product-quantity">
      <form enctype="multipart/form-data" method="post" class="cart">
        <div class="quantity">
          <input type="button" class="minus" value="-" @click.prevent="action('min', item)">
          <input type="text" class="input-text qty text" title="Qty" name="quantity" min="1" step="1" v-model="item.amount">
          <input type="button" class="plus" value="+" @click.prevent="action('max', item)">
        </div>
      </form>
    </td>
    <td class="product-subtotal">
        <span class="amount">${{ subtotal }}</span>
    </td>
    <td class="product-clear">
      <button class="btn btn-danger" @click.prevent="action('clear', item)">&times;</button>
    </td>
  </tr>
</template>

<script>
import { mapGetters } from 'vuex';
import { UPDATE_AMOUNT, DELETE_ITEM } from '../store/modules/cart/mutation-types.js'

export default {
  name: 'item-cart',
  props: ['item'],
  computed: {
    ...mapGetters({
      product: 'product',
      cart: 'cart'
    }),
    subtotal() {
      return this.item.amount * this.item.product.price
    }
  },
  methods: {
    action(event, item) {
      let hasUpdated = false
      switch (event) {
        case 'max':
          this.item.amount++
          hasUpdated = true
          break
        case 'min':
          this.item.amount--
          hasUpdated = true
          break
        case 'clear':
          let index = this.cart.indexOf(this.item)
          this.cart.splice(index, 1)
          this.$store.dispatch(DELETE_ITEM, {id: this.item.id})
          break
      } 
      if (hasUpdated) {
        let update_item = [{id: this.item.id, amount: this.item.amount}]
        this.$store.dispatch(UPDATE_AMOUNT, update_item)
      }
    }
  }

}
</script>