<template>
  <div>
    <header id="header" data-plugin-options='{"alwaysStickyEnabled": true}' style="background-color: black;">
      <div class="container">
        <div class="logo">
          <a href="index.html">
            <img alt="Porto" height="54" data-sticky-width="82" data-sticky-height="40" src="../assets/boardhub_verticle_icon.png">
          </a>
        </div>
        <div class="search">
          <form id="searchForm" action="page-search-results.html" method="get">
            <div class="input-group">
              <input type="text" class="form-control search" name="q" id="q" placeholder="Search..." required>
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <nav>
          <ul class="nav nav-pills nav-top">
            <li>
              <a href="about-us.html"><i class="fa fa-angle-right"></i>About Us</a>
            </li>
            <li>
              <a href="contact-us.html"><i class="fa fa-angle-right"></i>Contact Us</a>
            </li>
            <li class="phone">
              <span><i class="fa fa-phone"></i>(123) 456-7890</span>
            </li>
          </ul>
        </nav>
        <button class="btn btn-responsive-nav btn-inverse" data-toggle="collapse" data-target=".nav-main-collapse">
          <i class="fa fa-bars"></i>
        </button>
      </div>
      <div class="navbar-collapse nav-main-collapse collapse">
        <div class="container">
          <nav class="nav-main mega-menu">
            <ul class="nav nav-pills nav-main" id="mainMenu">
              <li>
                <router-link 
                  tag="a"
                  :to="{name: 'home'}">หน้าหลัก</router-link>
                <!-- <a href="Homepage.html">หน้าหลัก</a> -->
              </li>
              <li>
                <router-link 
                  tag="a" 
                  :to = "{name: 'checkout'}" >ตะกร้า({{ cart.length }})
                </router-link>
              </li>
              <li v-if="isAuthenticated">
                <a href="Status.html">สถานะรายการสั่งซื้อ</a>
              </li>
              <li v-if="isAuthenticated">
                <router-link 
                  tag="a"
                  :to="{ name: 'user-profile', params: { username: currentUser.username} }">{{currentUser.username}}</router-link>
              </li>
              <li v-if="isAuthenticated">
                <a href="#"
                   @click.prevent="logout">ออกจากระบบ</a>
              </li>   
              <li v-if="!isAuthenticated">
                <router-link 
                  tag="a" 
                  :to="{ name: 'login' }" >เข้าสู่ระบบ</router-link>
              </li>  
              <li v-if="!isAuthenticated">
                <router-link 
                  tag="a" 
                  :to="{ name: 'register' }" >ลงทะเบียน</router-link>
              </li>              
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import {LOGOUT} from '../store/modules/auth/mutation-types.js'
import { CLEAR_CART } from '../store/modules/cart/mutation-types.js'

export default {
  computed: {
    ...mapGetters([
      'cart',
      'currentUser',
      'isAuthenticated',
      'isAdmin',
      'isProfileLoaded'
    ])
  },
  methods: {
    logout: function() {
      this.$store.dispatch(LOGOUT)
        .then(() => {
          this.$store.dispatch(CLEAR_CART)
        })
        .then(() => this.$router.push('home'))
    }
  }
};
</script>

<style scope>
</style>

