<template>
  <div>
    <div class="card h-100">
      <router-link 
        tag="a" 
        :to="{ name: 'product', params: { id: product.id } }" 
        class="card-img-top">
        <img v-if="!product.main_photo" src="../assets/no_profile_pic.jpg" :alt="product.name" width="400px" height="300px">
        <img v-else :src="product.main_photo" :alt="product.name" width="400px" height="300px" />
      </router-link>
      <div class="card-body">
        <h4 class="card-title">
          <router-link 
            tag="a" 
            :to="{ name: 'product', params: { id: product.id } }" 
            class="card-img-top">
            <small>{{product.name}}</small>
          </router-link>
        </h4>
        <h5>{{product.price | currency}}</h5>
        <button 
          type="button" 
          class="btn btn-primary btn-lg btn-block"
          @click="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</template>

<script>
import addToCart from '@/mixins/addToCart';

export default {
  props: ['product'],
  mixins: [addToCart]
};
</script>

<style scoped>
.card-img-top img {
  width: 100%
}
</style>

