<template>
  <b-card-body>
    <b-img :src="product.main_photo" :alt="product.name" fluid></b-img>
    <h5 class="text-center">{{product.name.slice(0, 50)}}</h5>
  </b-card-body>
</template>

<script>
  export default {
    props: ['product'],
  }
</script>

<style scoped>
img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}
h5 {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
