<template>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="footer-ribbon">
          <span>Boardhub by Sukumaro</span>
        </div>
        <div class="col-md-4">
          <div class="newsletter">
            <h4>Newsletter</h4>
            <p>Keep up on our always evolving product features and website. Enter your e-mail and subscribe to our newsletter.</p>
            <div class="alert alert-danger hidden" id="newsletterError"></div>

            <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
              <div class="input-group">
                <input class="form-control" placeholder="Email Address" name="newsletterEmail" id="newsletterEmail" type="text">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Go!</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Payment</h4>
          <div>
            <p><strong>ชื่อบัญชี: </strong>BoardHub BOARDGAME CO.,LTD.</p>
            <p><strong>SCB: </strong>8132-671-247</p>
            <p><strong>KTB: </strong>0200-213-719</p>
            <p><strong>KBANK: </strong>433-2-90926-2</p>
            <p><strong>Promptpay: </strong>ธฤต หอเพชรรุ่งเรือง 095-5690744</p>
            <p><strong>True Wallet: </strong>ธฤต หอเพชรรุ่งเรือง 095-5690744</p>
            <p><strong>Credit / Debit: </strong>Visa, Master Card, American Express, Virtual credit Card</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-details">
            <h4>Contact Us</h4>
            <ul class="contact">
              <li><p><strong>Address:</strong> 50 Ngam Name Wan, Lat yao, Chatuchak, Bangkok, Thailand 10900</p></li>
              <li><p><strong>Phone:</strong> 095-5690744</p></li>
              <li><p><strong>Email:</strong> <a href="mailto:mail@example.com">BoardHub@gmail.com</a></p></li>
              <li><p><strong>Line ID:</strong>Boardhub@sukumaro</p></li>
              <li><p><strong>Facebook:</strong>@Boardhub</p></li>
              <li><p><strong>Instagram:</strong>@Boardhub_BKK</p></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-1">
            <a href="index.html" class="logo">
              <img alt="Porto Website Template" class="img-responsive" src="../assets/boardhub_verticle_icon.png">
            </a>
          </div>
            <div class="col-md-7">
              <p>© Copyright 2018 Software Engineering Project. All Rights Reserved.</p>
            </div>
          <div class="col-md-4">
            <nav id="sub-menu">
              <ul>
                <li><a href="/#/about">About US</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
    name: 'BhFooter',
}
</script>

<style scoped>
*:before, *:after {
  box-sizing: border-box;
}
.container {
  margin-top: 0px;
  padding: 0px;
}
.clearfix:before, .clearfix:after, .dl-horizontal dd:before, .dl-horizontal dd:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after, .form-horizontal .form-group:before, .form-horizontal .form-group:after, .btn-toolbar:before, .btn-toolbar:after, .btn-group-vertical > .btn-group:before, .btn-group-vertical > .btn-group:after, .nav:before, .nav:after, .navbar:before, .navbar:after, .navbar-header:before, .navbar-header:after, .navbar-collapse:before, .navbar-collapse:after, .pager:before, .pager:after, .panel-body:before, .panel-body:after, .modal-footer:before, .modal-footer:after {
  display: table;
  content: " ";
}
.clearfix:after, .dl-horizontal dd:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after {
  clear: both;
}
#footer {
  background: #0e0e0e;
  border-top: 4px solid #0e0e0e;
  font-size: 0.9em;
  margin-top: 50px;
  padding: 70px 0 0;
  position: relative;
  clear: both;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#footer .footer-copyright {
  background: #060606;
  border-top: 4px solid #060606;
  margin-top: 40px;
  padding: 30px 0 10px;
}
.row {
	margin: 0 -15px;
}
#footer .container .row > div {
  margin-bottom: 25px;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
  width:100%;
}
@media (min-width: 922px) {
	.col-md-1 {
    width: 8.33333333%;
	}
	.col-md-2 {
    width: 16.66666667%;
	}
	.col-md-3 {
    width: 25%;
	}
	.col-md-4 {
    width: 33.33333333%;
	}
	.col-md-7 {
    width: 58.33333333%;
	}
}
a {
  background-color: transparent;
  text-decoration: none;
  float: none;
}
body a {
  outline: none !important;
}
#footer h1, #footer h2, #footer h3, #footer h4, #footer a {
  color: #FFF !important;
}
#footer .logo {
  display: block;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
p {
  color: #777777;
  line-height: 24px;
  margin: 0 0 20px;
}
#footer .footer-copyright p {
  color: #555;
  margin: 0;
  padding: 0;
}
#footer .footer-copyright nav {
  float: right;
}
#footer .footer-copyright nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .footer-copyright nav ul li {
	border-left: 1px solid #505050;
  display: inline-block;
  line-height: 12px;
  margin: 0;
  padding: 0 8px;
}
#footer .footer-copyright nav ul li:first-child {
  border: medium none;
  padding-left: 0;
}
#footer .footer-ribbon {
	background: #f86624;
  position: absolute;
  margin: -90px 0 0 14px;
  padding: 10px 20px 6px 20px;
}
#footer .footer-ribbon span {
  color: #FFF;
  font-size: 1.6em;
  font-family: "Shadows Into Light", cursive;
}
#footer h4 {
  font-size: 1.8em;
  font-weight: 200;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
#footer form {
  opacity: 0.85;
}
#footer .newsletter form {
  width: 100%;
  max-width: 262px;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.has-error .form-control {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
  display: table-cell;
}
#footer .newsletter form input.form-control {
  padding: 6px 12px;
}
.input-group-addon, .input-group-btn {
  width: 1%;
  vertical-align: middle;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.btn-default {
  color: #333;
  background-color: #fff!important;
  border-color: #ccc!important;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  margin-left: -1px;
}
#footer .contact {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer .contact p {
  margin-bottom: 10px;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
}
#footer .contact i {
  display: block;
  float: left;
  font-size: 1.2em;
  margin: 7px 8px 10px 0;
  position: relative;
  text-align: center;
  top: -2px;
  width: 16px;
}
#footer .contact i.fa-envelope {
  font-size: 1em;
  top: 0;
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-phone:before {
  content: "\f095";
}
.fa-envelope:before {
  content: "\f0e0";
}
ul.social-icons {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.social-icons li {
  transition: all 0.3s ease;
  background-repeat: no-repeat;
  display: inline-block;
  margin: -1px 1px 5px 0;
  padding: 0;
  border-radius: 100%;
  overflow: visible;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}
ul.social-icons li.facebook {
  background-position: 0 -120px;
}
ul.social-icons li.twitter {
  background-position: 0 -1140px;
}
ul.social-icons li.linkedin {
  background-position: 0 -540px;
}

</style>