<template>
  <nav>
    <b-navbar toggleable="md" type="dark" variant="info">
      <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
      <b-navbar-brand :to="{ name: 'home' }"><img style="height:auto;width:150px;margin-left:70px;" src="../assets/boardhub_verticle_icon.png"></b-navbar-brand>
      <b-collapse is-nav id="nav_collapse">
        <b-navbar-nav class="ml-auto">
          <b-navbar-nav v-if="isAuthenticated">
            <b-nav-item :to = "{name: 'cart'}">
              <custom-icon name="shopping-cart" base-class="custom-icon"></custom-icon>
              {{ cart.length }}
            </b-nav-item>
            <b-nav-item :to = "{name: 'product-list'}">
              Product
            </b-nav-item>
            <b-nav-item v-if="isAdmin || isCreator" v-b-modal.addProduct2>
              Add product
            </b-nav-item>
            <b-nav-item v-if="isAdmin" :to="{name: 'backend'}">
              Admin panel
            </b-nav-item>
            <b-nav-item v-if="isCreator" :to="{name: 'creator'}">
              Creator panel
            </b-nav-item>
            <b-nav-item-dropdown right>
            <template slot="button-content">
              <em>{{currentUser.username}}</em>
            </template>
            <b-dropdown-item :to="{ name: 'user-profile', params: { username: currentUser.username} }">Profile</b-dropdown-item>
            <b-dropdown-item :to="{ name: 'user-order' }">Order</b-dropdown-item>
            <b-dropdown-item :to="{ name: 'user-shipping' }">Shipping</b-dropdown-item>
            <b-dropdown-item @click.prevent="logout">Signout</b-dropdown-item>
          </b-nav-item-dropdown>
          </b-navbar-nav>
          
          <b-navbar-nav v-else>
            <b-nav-item :to = "{name: 'product-list'}">
              Product
            </b-nav-item>
            <b-nav-item :to="{ name: 'frontend-login' }">
              Login
            </b-nav-item>
            <b-nav-item :to="{ name: 'frontend-register' }">
              Register
            </b-nav-item>
          </b-navbar-nav>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <add-product id="2"></add-product>
  </nav>
</template>

<script>
import customIcon from 'vue-icon/lib/vue-feather.esm'
import { mapGetters } from 'vuex';
import { LOGOUT } from '../store/modules/auth/mutation-types.js'
import { CLEAR_CART } from '../store/modules/cart/mutation-types.js'
import AddProduct from '@/components/BackendProductInsert'

export default {
  name: 'BhHeader',
  components: {
    customIcon,
    AddProduct
  },
  data () {
    return {
      baseClass: 'v-icon',
      addProduct: 'menu'
    }
  },
  computed: {
    ...mapGetters([
      'cart',
      'currentUser',
      'isAuthenticated',
      'isAdmin',
      'isCreator',
      'isProfileLoaded'
    ])
  },
  methods: {
    logout: function() {
      this.$store.dispatch(LOGOUT)
        .then(() => {
          this.$store.dispatch(CLEAR_CART)
        })
        .then(() => {
          this.$router.go(0)
        })
        .then(() => this.$router.push('/'))
    }
  }
}
</script>

<style scoped>
  .v-icon,
  .custom-icon {
    width: 24px;
  }
  .bg-info {
  background-color: #000!important;
}


</style>