<template>
  <b-container fluid>
    <b-row class="my-1">
      <b-col sm="2"><label for="name">Name:</label></b-col>
      <b-col sm="10">
        <b-form-input id="name" type="text" v-model="product.name"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="name">Type:</label></b-col>
      <b-col sm="10">
        <b-form-input id="type" type="text" v-model="product.type"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="name">Min player:</label></b-col>
      <b-col sm="10">
        <b-form-input id="name" type="text" v-model="product.min_player"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="name" v-model="product.max_player">Max player:</label></b-col>
      <b-col sm="10">
        <b-form-input id="name" type="text"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="description">Description:</label></b-col>
      <b-col sm="10">
        <b-form-textarea id="textarea1"
                    :rows="4"
                    :max-rows="6"
                    v-model="product.description">
        </b-form-textarea>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="duration">Duration:</label></b-col>
      <b-col sm="10">
        <b-form-input id="duration" type="text" v-model="product.duration"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="duration">Price:</label></b-col>
      <b-col sm="10">
        <b-form-input id="duration" type="text" v-model="product.price"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="duration">Quantity:</label></b-col>
      <b-col sm="10">
        <b-form-input id="duration" type="text" v-model="product.quantity"></b-form-input>
      </b-col>
    </b-row>
    <b-row class="my-1">
      <b-col sm="2"><label for="duration">Picture:</label></b-col>
      <b-col sm="10">
        <b-form-file  placeholder="Choose a file..."
                      @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length"
                      accept="image/*" multiple></b-form-file>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import FileUpload from '@/services/upload'
import { FETCH_PRODUCT } from '../store/modules/product/mutation-types';
import { mapGetters } from 'vuex';

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;

export default {
  name: 'edit-product',
  props: ['id'],
  data() {
    return {
      base_url: 'http://localhost:3000/',
      main_photo: null,
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'main_photo',
      item: {
        name: '',
        type: '',
        number_player: '',
        duration: '',
        price: '',
        quantity: '',
        main_photo: ''
      }
    };
  },
  computed: {
    ...mapGetters({
      product: 'product'
    }),
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    },
  },
  mounted () {
    this.fetch()
    this.reset()
  },
  methods: {
    fetch() {
      this.$store.dispatch(FETCH_PRODUCT, this.id)
    },
    onPublish(id, product) {
      product.main_photo = this.main_photo 
      this.$store.dispatch(EDIT_PRODUCT, product)
    },
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    save(formData) {
      // upload data to the server
      this.currentStatus = STATUS_SAVING;
      FileUpload.upload(5, formData)
        .then(({data}) => {
          console.log(data)
          this.main_photo = data.main_photo
          this.uploadedFiles = [].concat(data.main_photo);
          this.currentStatus = STATUS_SUCCESS;
        })
    },
    filesChange(fieldName, fileList) {
      // handle file changes
      const formData = new FormData();
      if (!fileList.length) return;
      // append the files to FormData
      
      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });
      // save it
      this.save(formData);
    }
  }
};
</script>