<template>
  <b-container>
    Username:
    <b-form-input type="text" v-model="profile.username"></b-form-input>
    First name
    <b-form-input type="text" v-model="profile.first_name"></b-form-input>
    Last name
    <b-form-input type="text" v-model="profile.last_name"></b-form-input>
    Phone Number
    <b-form-input type="text" v-model="profile.phone_number"></b-form-input>
    Address
    <b-form-textarea type="text" :rows="3" v-model="profile.address"></b-form-textarea>
    <b-btn variant="success" @click="onChange(profile)">Save change</b-btn>

  </b-container>
</template>

<script>
import { FETCH_PROFILE, EDIT_PROFILE } from '../store/modules/user/mutation-type.js'
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      profile: 'profile',
    })
  },
  data() {
    return {
    }
  },
  mounted() {
    this.fetchProfile()
  },
  methods: {
    fetchProfile: function() {
      const username = this.$route.params.username
      this.$store.dispatch(FETCH_PROFILE, username)
    },
    onChange(profile) {
      this.$store.dispatch(EDIT_PROFILE, profile)
    }, 
  }
}
</script>


</script>