<template>
  <b-container fluid>
    <frontend-product-list></frontend-product-list>
  </b-container>
</template>

<script>
import FrontendProductList from '@/components/FrontendProductList'

export default {
  name: 'Home',
  components: {
    FrontendProductList
  }
}
</script>