<template>
  <div id="app">
    <Navbar/>
    <transition name="fade">
      <router-view/>
    </transition>
    <PPFooter />
  </div>
</template>

<script>
import Navbar from './components/NavBar.vue';
import PPFooter from './components/Footer'
import { USER_REQUEST } from './store/modules/user/mutation-type.js'
import { mapState } from 'vuex';

export default {
  name: 'app',
  components: {
    Navbar,
    PPFooter
  },
  computed: {
    //...mapState({token: state => state.user.token})
  },
  created() {
    if (this.$store.getters.isAuthenticated) {
      this.$store.dispatch(USER_REQUEST, this.$store.state.auth.token)
    }
  },
};
</script>